[2016-02-17 09:18] algodave opened #1 "Auto-suggest treatment doses"
Most popular doses for the selected treatment should be suggested to users

[2016-02-17 09:20] algodave opened #2 "Set user’s most-recently used treatment doses as default when it's "turned-on""
The most recent dose used for a treatment has to be saved for each user, in order to allow him to quickly select it during checkin

[2016-02-17 09:23] algodave opened #3 "UI feedback needed on checkin autosave"
We need to provide some visual feedback to users:
- when there are unsaved changes
- while saving
- when all changes are saved

@lmerriam Hints welcome on UI!

[2016-02-17 09:24] algodave opened #4 "Onboarding: demographic data"

[2016-02-17 09:25] algodave opened #5 "Show dot in chart for treatments taken with no dose specified"
That means when the `taken` field is `true`

[2016-02-17 09:25] algodave opened #6 "Authentication-related features"
- [x] forgot password
- [x] update password

[2016-02-17 09:28] algodave opened #7 "Static pages / external links"
- [x] Upcoming
- [x] Discussion
- [x] Terms of Service
- [x] Privacy Policy
- [x] Contact

[2016-02-17 09:34] algodave opened #8 "Conditions/Symptoms checkin: color and tooltip on hover"
![screen shot 2016-02-17 at 10 32 22](https://cloud.githubusercontent.com/assets/2955556/13105181/0944df86-d562-11e5-8f7b-8ce258d0c6d4.png)

[2016-02-17 16:13] lmerriam opened #9 "Date issues"
Two issues I can reproduce:
- Clicking on a date on the graph takes me to the _prior_ day in the check-in
- Clicking the arrow to move to the previous day in the check-in moves me back two days, clicking the arrow to move to the next day in the check-in does not do anything

[2016-02-18 08:00] #5 closed, assigned to safeforge

[2016-02-19 10:17] algodave commented on #1
Implemented with the following commits (forgot to tag, sorry):
- 58e40e0b2217caf448c1b00e99b8d1f153fd0daf
- dfa4ac33f5accdb81566feabe420bb47e5ac2d28
- c2f7aa04b518c3cb4780066843ad5d5a423822af
- 026fb72fc3d012c43a4365d9ac5384973da0ab60
- 2b6dd4c5d1345a3c6e7897f2d8567bc98b7e6ff1

[2016-02-19 10:17] #1 closed, assigned to algodave

[2016-02-19 10:21] algodave opened #10 "Inject store into components using initializer"

[2016-02-24 16:33] algodave commented on #4
Implemented with the following changes:
- 683f8c0b41bf33a83b7dc1a932a18ee69bb8f998
- 69f1b2d3422b0f2f2044525fa59345ec6f288f94
- 15531a6e653a4d131eca02ed359462fff2575f67
- 1b0a3f045d09d31b621da173bad968c5368f8465
- 7239a43138c6b82ce59fd14b2c5136b8ce0b5d0d
- 688a6eb12bcfe2cdd0fd46bcf741f50e7fe864a7

[2016-02-24 16:38] algodave opened #11 "Demographic info: show description on "Day habits" options"
![day_habits_descr](https://cloud.githubusercontent.com/assets/2955556/13292773/614ef25a-db1d-11e5-909b-522c86e5ae5d.png)

[2016-02-24 16:38] algodave commented on #4
The feature is complete apart from one refinement, for which I opened a specific issue: #11

[2016-02-24 16:38] #4 closed, assigned to algodave

[2016-02-24 16:52] #10 closed, assigned to algodave

[2016-02-24 17:05] lmerriam commented on #11
We also use subtext like this to show the number of users with, for example, a symptom in the autosuggest for adding a new symptom

[2016-02-24 17:12] algodave commented on #4
@lmerriam If you like to review the feature, visit https://flaredown-webapp.herokuapp.com/onboarding/demographic

[2016-02-24 19:05] lmerriam commented on #8
Smiley face should only highlight if it is selected or hovered. See the image above, if the boxes are highlighted, the smiley is not. This is because it represents 0 or "no activity" for a symptom.

The boxes that are not highlighted should be light grey so they are still visible.

Tooltip should show above the box, right now it's interfering with hovering over the boxes.

Here are some screenshot

[2016-02-24 19:27] lmerriam opened #12 "Autosuggest improvements"
~~1. A new trackable should only become visible in the autosuggest if 5 people independently add it, to make sure that we don't end up with a bunch of variations of the same thing.~~ DONE
1. We should show the number of users like the existing app does:
   <img width="382" alt="screenshot 2016-02-24 14 22 59" src="https://cloud.githubusercontent.com/assets/1657444/13297799/26ffd724-db02-11e5-9264-

[2016-02-24 19:33] lmerriam opened #13 "SSO with Discourse"
Our existing app creates an account for our users on our discourse and logs them into it, let's get that working in flaredownember-2

[2016-02-24 19:44] lmerriam opened #14 "Loading icon"
We should throw in a spinner when the graph is loading up, otherwise it's just a blank page for several seconds

[2016-02-24 19:54] lmerriam opened #15 "Duplicate trackables in autosuggest"
See here:
<img width="465" alt="screenshot 2016-02-24 14 07 33" src="https://cloud.githubusercontent.com/assets/1657444/13297387/29ec91b8-db00-11e5-8f26-671b13ba3bee.png">

[2016-02-24 22:27] lmerriam opened #16 "Line graphs should connect across empty days"
Example: I record a rating for the Abdominal Pain symptom on Wednesday, I don't record one on Thursday, and I do record one on Friday.

Right now the line graph does not draw a line between Wednesday and Friday because Thursday had no value. We should connect the line graph across days, and add dots to show which days were explicitly rated. Quick example:

<img width="726" alt="screenshot 2016-02-

[2016-02-24 23:10] lmerriam opened #17 "Improved history navigation"
Navigating the chart on touch devices is particularly tough, because scrolling up and down to see different trackables conflicts with the left/right dragging gesture to navigate the chart viewport. The goal is to improve navigation patterns.

<img width="660" alt="screenshot 2016-12-22 12 56 05" src="https://cloud.githubusercontent.com/assets/1657444/21440409/bacbf748-c847-11e6-9cf1-d14e1dfdc434.p

[2016-02-25 09:07] #8 closed, assigned to safeforge

[2016-02-25 16:59] algodave commented on #9
What could happen (although I didn't reproduce) is that checkin was created at a different date than the one passed by the client, because it was passing date with zulu-formatted time&zone info (which we actually don't need). In case of difference in date between the client and the server (due to time-zone) it could cause the above bugs.

@lmerriam Could you please make some tests and let me know?

[2016-02-25 17:16] #9 closed, assigned to algodave

[2016-02-25 18:08] algodave commented on #15
@lmerriam I just found in the database that you actually added `"Crohn's Disease"` 3 times as a new condition.

[code]

Can you remember how you were able to do that in the UI? In the meanwhile I'll enforce a rule on the backend that no trackable can be added with the same name by the same user.

[2016-02-25 18:21] lmerriam commented on #15
I think it's probably because I set up my account a few different times, when
you guys invited me to new versions and I went through onboarding again.

I think you already know this but just to make sure we're agreed: we want
everyone who adds Crohn's Disease (for example) to be tracking the same
condition from the database's point of view. When we do data aggregation we
need to know how many peop

[2016-02-25 18:55] algodave commented on #15
@lmerriam It seems to me that this:

kind of conflicts with the following, grabbed from [Design Doc: Check-in](https://paper.dropbox.com/doc/Design-Doc-Check-in-JXiQVK4KzNL9p4R9zBFro)

To meet the above, when 2 users independently add `"New Condition"`, those will actually be 2 different conditions on the database. Now I can easily fix to make them be the same when their name is equal (case insens

[2016-02-25 19:05] lmerriam commented on #15
No problem, I am aware that small differences and typos will create different
records, there's really no way around that except (as you say) human-
supervised cleanup. It's annoying, but it won't be a blocking problem.

Could we still count two people independently typing in a condition together
if we check and see that the condition name is the same and count them as the
same record, and just mak

[2016-02-25 19:08] algodave commented on #15
Sure, will move forward that way then

[2016-02-25 19:13] lmerriam commented on #16
Looks good! I will have a couple more tweaks, graphs are tricky, but I need to write them down first and make sure I communicate them clearly.

[2016-02-25 19:42] lmerriam commented on #15
Also, out of curiosity, how much time do you think it would it take to migrate
the database of trackables we built in the original app?

[2016-02-26 08:55] algodave commented on #15
Original app's seed data are there, we just pruned it because we're on heroku hobby. But with this commit: 1864efb61071eeaf938f4f778a8298bcc924eb15 they can **all** be loaded, as soon as we transfer the instance to you so that you can upgrade to a basic plan.
But perhaps you mean migrating current **live** data? (Which might include custom trackables added by current users)
In that case we need to

[2016-02-26 10:07] safeforge commented on #16
@lmerriam just pushed a couple of fixes, let's close this and open a new one when we're ready with new specs.

[2016-02-26 10:07] #16 closed, assigned to safeforge

[2016-02-26 18:14] algodave commented on #15
@lmerriam I've fixed all duplicate issues, and also implemented logic to show trackables added more than N times. We can easily change N as it's a config:
https://github.com/Flaredown/FlaredownEmber-2/blob/master/backend/config/initializers/00_app.rb#L29-L31
It will work on trackables added from now on.

Let's test it on [heroku](https://flaredown-webapp.herokuapp.com)
- I'll add "Coding Addiction

[2016-02-26 18:45] algodave opened #18 "Trackable color different from chart to checkin"
@safeforge found a case when trackable color differs from chart to checkin.
Not sure if this is an edge case, @lmerriam might help understanding this.
1. User adds a trackable to a **past day's checkin**; system assigns it a random color and saves it into checkin record. As per req., it won't be tracked on future days, and it won't appear in the chart either.
2. User adds the same trackable to **t

[2016-02-29 15:46] lmerriam commented on #18
Ideally the color for a trackable would be decided whenever the first creates the trackable and stay the same for past, present and future days

[2016-02-29 16:18] lmerriam opened #19 "Do not create entry until user has entered data"
If the user is just navigating through days by clicking the back arrow, we don't want to create an entry for each one (and thus turn them into empty summaries) until they actually enter data to be saved.

[2016-03-01 16:44] lmerriam opened #20 "Error monitoring"
Let's choose and implement a service to monitor exceptions in the production app

[2016-03-01 16:45] lmerriam opened #21 "Integrate intercom"
Send the same information as the existing app:
- [ ] Demographic and profile data
- [ ] Check-in event
- [ ] Onboarded event

Create a new "app" on intercom so stats are kept separate from the old app.

[2016-03-01 16:46] lmerriam opened #22 "Import users accounts from existing app"

[2016-03-03 10:33] algodave commented on #15
@lmerriam I've checked the records and this is what I've found so far:
- Me and @safeforge have added "Coding Addiction", which has been recognized as being the same, so it has the same id (232)

[code]
- @scottleyg has added "Coding Adiction", which has NOT been recognized as being the same because of one 'd' missing.

[code]

Currently what I'm using is Postgres' `ILIKE` operator (case-insensiti

[2016-03-03 14:08] algodave opened #23 "List Popular Tags"
![checkin-tags_popular](https://cloud.githubusercontent.com/assets/2955556/13496651/b5743da6-e151-11e5-9848-f16b247cf940.png)

This feature is present in the old app, so I'm adding it to Launch milestone.
@lmerriam Feel free to change if you disagree.

[2016-03-03 14:09] algodave opened #24 "List Recent Tags"
![checkin-tags_recent](https://cloud.githubusercontent.com/assets/2955556/13496671/df2eaa8c-e151-11e5-9acd-8df87071cb28.png)

[2016-03-03 16:30] lmerriam opened #25 "Change email form"
Give the user a way to change the email address they log in with and receive emails from Flaredown at

[2016-03-03 16:33] algodave commented on #2
Summary of slack conversation with @lmerriam to clarify reqs
- as soon as the user "turns on" a treatment, it automatically gets its last dose, if it has one
- it would look at the last day the user logged prior to the day they are checking in and use that dose
- this can be done whatever the checkin day is, so no reason to differentiate behavior between today's checkin and past days

[2016-03-03 16:34] lmerriam commented on #2
:+1:

[2016-03-03 16:36] lmerriam opened #26 "Graph lines interpolation"
Currently, on days when the user does not rate a trackable, the graph returns to a midpoint. What it should do is interpolate between the points directly:

![group 3](https://cloud.githubusercontent.com/assets/1657444/13501298/1e757978-e134-11e5-87b9-f9745eb3cef2.png)

[2016-03-03 16:46] lmerriam commented on #6
@safeforge on both the Password Reset and Change Password forms, I am able to put different emails into the "password" and "confirm password" fields without error. It seems to take the "password" field in that case.

I also think that it might be best to send a reset link via email even for users who are already logged-in, so that someone couldn't steal an account and then change the password to l

[2016-03-03 16:49] lmerriam commented on #15
Yep this is totally working as expected. Actually a good thing that it got misspelled so we could test that:) Did we not get @theworkerant 's record? He tried to add it too

[2016-03-03 17:42] algodave commented on #15
He doesn't seem to have added any trackable:

[code]

[2016-03-03 18:12] lmerriam commented on #26
Along with that, it looks like graph lines are being generated if there is no rating. For instance, after I added Coding Addiction a line shows up for it, even though it has never been rated. We should only display a line if there are two or more points to connect:

<img width="1413" alt="screenshot 2016-03-03 13 10 50" src="https://cloud.githubusercontent.com/assets/1657444/13504223/957047a8-e141

[2016-03-04 00:32] lmerriam commented on #15
:+1: resolved!

[2016-03-04 00:32] #15 closed, assigned to algodave

[2016-03-07 18:45] lmerriam opened #27 "Default route"
If the user has already checked-in today, default route when they open the app should be the charts
If the user has no entry today, default route should be today's check-in

[2016-03-08 09:48] algodave opened #28 "Failure when clicking on a date with no checkin"
[code]

[2016-03-08 10:18] algodave commented on #22
@lmerriam Do we need to import checkin data too?

[2016-03-08 10:25] safeforge commented on #6
my feeling is to ask the current password for logged user. it's more simple to implement and it's a very common security system

[2016-03-08 11:23] #28 closed, assigned to algodave

[2016-03-08 12:44] #25 closed, assigned to safeforge

[2016-03-08 14:06] lmerriam commented on #6
@safeforge ok, let's do that!

[2016-03-08 14:10] lmerriam commented on #22
@algodave I would like to, so existing users don't lose 6 months of data. But if it's going to be a really tough thing to do, we might be able to get around it

[2016-03-08 14:12] lmerriam commented on #2
@algodave this isn't quite working for me, I still get "no dose" on all my treatments when I add them

[2016-03-08 14:19] algodave commented on #22
Will take a closer look in the very next days and get back to you.

[2016-03-08 14:23] algodave commented on #2
@lmerriam can you provide an example treatment you added which was not populated? Consider that currently you have to wait one second before "turning-on" the treatment just added in order to see the auto-set dose (sorry I should have mentioned that)
I'll fix this together with #3 which will provide the app with better awareness on when to trigger checkin save.

[2016-03-08 14:28] lmerriam commented on #2
Prednisone, Stelara, Folic Acid, Methotrexate on my logan@flaredown.com account

Just tried again waiting 10 seconds, I still see the issue unfortunately

[2016-03-08 15:27] algodave opened #29 "Chart: show treatments markers only when taken=true"

[2016-03-08 15:50] lmerriam commented on #6
:+1:

[2016-03-08 15:50] #6 closed, assigned to safeforge

[2016-03-08 15:50] lmerriam commented on #29
Just noticed this one too :) Good catch

[2016-03-08 15:51] algodave commented on #29
Yes, it's a regression due to the auto-set of doses. Should be a quick fix

[2016-03-08 16:03] #29 closed, assigned to algodave

[2016-03-08 16:21] safeforge commented on #20
@lmerriam do we have an account with [airbrake](https://airbrake.io) or something like this?

[2016-03-08 16:32] lmerriam commented on #29
:+1:

[2016-03-08 16:33] lmerriam commented on #20
Currently we have https://getsentry.com/welcome/

But I am open to whatever you guys think will be the best, now is a good time to figure that out

[2016-03-08 16:48] algodave commented on #2
@lmerriam I should have found what the issue was. I was discarding `null` doses but not blank ones. Please try again when you have a chance and let me know. Also note: on a new checkin default doses are immediately available; when you add a new treatment instead, you have to wait one second.

[2016-03-08 16:51] #26 closed, assigned to safeforge

[2016-03-08 17:00] lmerriam commented on #26
Perfect :+1:

[2016-03-08 17:08] lmerriam commented on #2
Looks good now :+1:

[2016-03-08 17:57] #27 closed, assigned to algodave

[2016-03-08 18:03] algodave opened #30 "Routing to onboarding not working"
There seems to be an issue when including more than 2 `beforeModel` hooks in the same route.
After implementing `beforeModel` hook in [index route](https://github.com/Flaredown/FlaredownEmber-2/blob/master/frontend/app/routes/index.js#L13), the same hook in [OnboardedRoute mixin](https://github.com/Flaredown/FlaredownEmber-2/blob/master/frontend/app/mixins/onboarded-route.js#L5) stopped getting ca

[2016-03-08 18:13] algodave commented on #30
However, `OnboardedRoute` mixin is currently imported by `index` route only!
I'm also thinking that in general, both the new default route logic (as per #27) and the pre-existing "route to onboarding" logic, should anyways stay in the same place, which is the route configured as `routeAfterAuthentication` (currently `/` - i.e. `index`).
So, I'm going to merge the 2 `beforeModel` hook impls into on

[2016-03-08 18:31] #30 closed, assigned to algodave

[2016-03-08 18:31] lmerriam commented on #30
sounds great :+1:

[2016-03-08 18:47] lmerriam commented on #2
@algodave still seeing issues: https://www.dropbox.com/s/zjz5t0f651auuas/autoTreatmentDose.mov?dl=0

[2016-03-08 21:00] algodave commented on #2
@lmerriam just watched the video. The checkin you clicked on already existed before I released the feature, that means the object was initialized without most-recent doses. I realized that because the summary screen opened up rather than the first checkin screen (the "You haven't checked-in yet").
So to recap: the feature works on new checkins you create from now on, and on not-yet initialized pas

[2016-03-08 21:08] algodave commented on #2
@lmerriam oh by the way, if you want to test on some past day, I can manually remove your existing checkins; just give me the dates in case you want to do that

[2016-03-08 21:20] lmerriam commented on #2
Gotcha! Makes sense. If you wanna clear the past 5 days of my check-ins that would be awesome

[2016-03-08 21:42] algodave commented on #2
@lmerriam Done!

[2016-03-08 21:51] lmerriam commented on #2
@algodave getting the same thing i got before, it seems to be targeting the wrong dose. right now i added a "5mg" dose of prednisone in the days you recently cleared for me, then the next day I turned on prednisone and the auto-dose was "3mg". I have used 3mg before, but not the prior day. Any way I can help diagnose?

[2016-03-08 21:53] lmerriam commented on #2
video, in case I'm doing something weird again: https://www.dropbox.com/s/0wzv58dlcdj0p4c/autoTreatmentDose2.mov?dl=0

[2016-03-08 22:01] algodave commented on #2
No, this time you're not doing anything weird :)
Let me better investigate tomorrow, I'm reopening.

[2016-03-08 22:09] lmerriam commented on #2
Random UX thought: if the last dose was "no dose" the auto dose should be "no dose"

[2016-03-08 22:11] algodave commented on #2
Oh this is important, thanks for posting! At the moment it's ignoring both `null` and `blank` values while retrieving the most recent. I'll change that.

[2016-03-10 09:30] #14 closed, assigned to safeforge

[2016-03-14 15:34] algodave commented on #2
@lmerriam You can now test again; let me know which days should I delete checkin for you, if needed.

[2016-03-14 16:10] lmerriam commented on #2
Works for me! Closing :+1:

[2016-03-14 16:10] #2 closed, assigned to algodave

[2016-03-14 19:41] #7 closed, assigned to safeforge

[2016-03-14 23:25] algodave commented on #3
@lmerriam I'm closing this for now, although a few refinements on styles might be needed. Will leave it up to your fantasy :-)

[2016-03-14 23:25] #3 closed, assigned to algodave

[2016-03-16 09:09] #20 closed, assigned to safeforge

[2016-03-16 10:25] #23 closed, assigned to algodave

[2016-03-22 04:06] lmerriam opened #31 "Link to check-in in navigation"
Add a link to "Check-in" before the "Graph" link in the navigation, that goes to today's check-in

[2016-03-22 09:41] algodave commented on #22
@lmerriam Good news! We can import checkin data as well as users data, it's an 8 to 10 hrs job.

[2016-03-22 15:13] algodave commented on #22
@lmerriam Better news! I completed a first draft of the export task, here's what I'm able to get (of course, from my own local env app instance):

https://gist.github.com/algodave/5e5bd33fbbd1976f8d5e

[2016-03-23 01:07] lmerriam commented on #22
This is great @algodave !

[2016-03-25 02:49] lmerriam opened #33 "Fix menu on mobile"
Right now I see this at mobile sizes:
<img width="399" alt="screenshot 2016-03-24 17 17 54" src="https://cloud.githubusercontent.com/assets/1657444/14031692/5eb30008-f1e4-11e5-8892-36c22ab47099.png">

[2016-03-29 22:33] algodave opened #34 "Given URL is not allowed by the Application configuration"
Given URL is not allowed by the Application configuration: One or more of the given URLs is not allowed by the App's settings.  It must match the Website URL or Canvas URL, or the domain must be a subdomain of one of the App's domains.

![screen shot 2016-03-30 at 00 21 59](https://cloud.githubusercontent.com/assets/2955556/14125807/7c428b48-f60d-11e5-8b61-a96c1191d3b9.png)

[2016-03-29 22:34] #13 closed, assigned to safeforge

[2016-03-29 22:57] lmerriam opened #35 "Cache the history"
Right now, if the user leaves the history to navigate to another section of the app, then returns to the history, they have to load the history again. If possible, it would be ideal to cache the currently visible history when the graph loads, so that the user can quickly switch between sections of the app.

[2016-03-29 23:00] lmerriam opened #36 "Hide and show trackables on history"
For simplicity, the first version of the history showed all trackables by default. That means it's tough for users to compare the specific trackables they're interested in (for example, if I want to see the effects of a particular treatment on a symptom, and they are not both visible on the screen). To fix this, let's give users control over the visible trackables.

<img width="654" alt="screensho

[2016-03-29 23:27] lmerriam opened #37 "Graph lines are reversed"
The line graphs are currently low when the user has indicated MORE active ratings in the check-in, and high when the user has indicated that a condition/symptom is less active (which is backwards). See here:

![image](https://cloud.githubusercontent.com/assets/1657444/14127216/35547e86-f5e4-11e5-83c7-cddb781a0b76.png)

![image](https://cloud.githubusercontent.com/assets/1657444/14127223/3c9ec390-f

[2016-03-30 05:31] lmerriam opened #38 "Can't add new trackables"
Seems to be universal for me, I don't have to do anything to reproduce. Several users reporting same issue. Video: https://www.dropbox.com/s/brctlgw0nhvjz8z/cantAddTrackables.mov?dl=0

[2016-03-30 07:33] #37 closed, assigned to safeforge

[2016-03-30 13:21] algodave opened #39 "Remove "unsaved changes" message on Checkin's first screen"
![flaredown 2016-03-30 15-16-02](https://cloud.githubusercontent.com/assets/2955556/14143280/b4715d64-f68a-11e5-9f2c-69735de49534.png)

The message stays there because autosave isn't triggered on the first screen. I need to investigate about why the Ember record is dirty at that point, but anyways I don't think we need such message at all on this screen. @lmerriam Do you agree?

[2016-03-30 13:21] lmerriam commented on #39
Fully agreed @algodave !

[2016-03-30 13:22] lmerriam commented on #39
In fact, I'm adding this to Launch because it could be pretty confusing and should be high priority

[2016-03-30 13:24] algodave opened #40 "Remove deprecation "property modified inside the didInsertElement hook""
Getting this deprecation when entering Checkin's 2nd screen (Conditions)

![screen shot 2016-03-30 at 15 23 59](https://cloud.githubusercontent.com/assets/2955556/14143436/7ceaa5de-f68b-11e5-803e-4620b60c702a.png)

[2016-03-30 13:27] algodave commented on #38
Just reproduced on my local env, tackling this right now!

[2016-03-30 13:47] lmerriam opened #41 "Graph: treatment dots too low"
May be a regression from fixing the line graph recently?

![image](https://cloud.githubusercontent.com/assets/1657444/14144111/75d4b9da-f65c-11e5-88d7-801d9ce25d77.png)

[2016-03-30 20:48] #31 closed, assigned to algodave

[2016-03-30 21:30] lmerriam commented on #41
:+1:

[2016-03-30 21:30] #41 closed, assigned to safeforge

[2016-03-30 23:43] lmerriam opened #42 "Show count of users in autocomplete when adding trackable"
Same way we had it in the original app [will add screenshot soon]

[2016-03-31 00:00] lmerriam opened #43 "Pips stuck on hover"
If you leave a summary screen open for a few minutes, it can get into a state where the first hover over a pip locks the rating in. Even clicking and changing the rating will not reset it.

If you refresh the page, it functions fine and you will see that any rating changes you made did register.

Video: https://www.dropbox.com/s/ff47v1ulcqteinx/pipBug.mov?dl=0

[2016-03-31 14:27] lmerriam opened #44 "Endless loading"
Users report seeing the loading dots endlessly

Seeing lots of timeouts on the heroku dashboard:
<img width="994" alt="screenshot 2016-03-31 10 26 47" src="https://cloud.githubusercontent.com/assets/1657444/14178972/1b0543f6-f72b-11e5-9354-07f9d110849f.png">

[2016-03-31 17:51] lmerriam opened #45 "Notes in summary"
A place for the user to leave a freeform note about their day: https://paper.dropbox.com/doc/Design-Doc-Check-in-JXiQVK4KzNL9p4R9zBFro#:h=Summary

[2016-03-31 21:40] algodave opened #46 "ids param sent as object rather than as array to treatments endpoint"
This is what's causing the following:
https://flaredown.airbrake.io/projects/121837/groups/1653854108580241014/notices/1653854106619961672

Here's the params:

[code]

`ids` should be an array, it is an object instead because the query string is `?ids[0]=4544&ids[1]=9213`

@safeforge Any idea?

[2016-04-01 09:05] safeforge commented on #46
@squiggie It seems that the following params: `?ids[0]=4544&ids[1]=9213` sent to the `treatments` endpoint are causing a database error.

Please note that ids should be an array, so no indexes inside square brackets. I’m implementing a better exception handling, however let me know in case it’s an issue for your client to send an array

[2016-04-01 09:19] #46 closed, assigned to safeforge

[2016-04-01 09:22] #38 closed, assigned to algodave

[2016-04-01 09:28] algodave opened #47 "Checkin Summary: new trackables added appear twice, page refresh fixes"
When adding a new Condition, Symptom or Treatment from the Checkin Summary screen, it appears twice immediately after autosave. Refreshing the page shows it once as expected.
@lmerriam adding this to Launch milestone, feel free to change if disagree.

Developer note: this happens because the `onCheckinSaved()` method from `trackables-step` component needs to be invoked, rather than the generic one

[2016-04-01 13:02] safeforge opened #48 "[Airbrake] message: Validation of Checkin failed. summary: The following errors were found: Date is already taken resolution: Try persisting the document with valid data or remove the validations."
**Airbrake error:** [#3994](https://flaredown.airbrake.io/projects/121837/groups/1649631212479633994)
**Airbrake project:** Flaredown

**Error type:** `Mongoid::Errors::Validations`
**Error message:** `message:
  Validation of Checkin failed.
summary:
  The following errors were found: Date is already taken
resolution:
  Try persisting the document with valid data or remove the validations.`
**Whe

[2016-04-01 13:06] #48 closed, assigned to nobody

[2016-04-01 13:10] algodave opened #49 "Optimize Checkin#most_recent_dose_for method"
This method is causing Rack::Timeout::RequestTimeoutException

I need to find a better implementation

[2016-04-01 15:17] squiggie opened #50 "Color of trackable too close to default gray color"
The gray color of a trackable item is too close to the default color and could be mistaken for the items not being clickable/working. I actually thought something was wrong with the Back Pain trackable and it wasn't clickable when I first noticed it. See screen shot.

http://prntscr.com/amthgn

Consider either darkening the gray or not using a color so close to the default color.

[2016-04-01 15:20] lmerriam commented on #50
Well that's a bug -- grey isn't one of our colors! I think maybe this trackable hasn't been assigned a color yet for some reason.

[2016-04-01 22:16] algodave opened #51 "Failed tracking new condition typed"
On today's checkin, when typing a new condition not present in select box, I get the following failure:

`POST http://localhost:4300/api/trackings 422`

That's because `trackable_id` and `trackable_type` params are sent as null values.

[2016-04-03 15:36] #51 closed, assigned to algodave

[2016-04-03 15:36] #47 closed, assigned to algodave

[2016-04-03 15:41] #39 closed, assigned to algodave

[2016-04-03 15:42] #22 closed, assigned to algodave

[2016-04-03 23:39] lmerriam opened #53 "Ask for date when adding/removing trackables"
This helps us deal with the following situations and others like them:
- User hasn't checked in for two weeks
- User started taking a treatment a week ago
- User must individually add the treatment to each day of the past week to fill it in

or
- User stopped taking a treatment yesterday
- User goes and removes treatment from yesterday's check-in, does not remove it from today's check-in
- Treatme

[2016-04-04 08:03] #49 closed, assigned to algodave

[2016-04-04 11:52] lmerriam opened #54 "Some trackables not being removed from check-in"
Yesterday I removed several symptoms from my check-in, and they returned today. Curiously, the treatment changes I made were saved correctly. I have been hearing reports of trackables not being removed from other users as well.

[2016-04-04 12:12] lmerriam opened #55 "Graph: visible trackables"
Only trackables that were in the user's check-in during the current graph time window should be visible in the graph.

[2016-04-04 12:17] lmerriam commented on #44
I believe this is fixed

[2016-04-04 12:17] #44 closed, assigned to nobody

[2016-04-04 12:19] lmerriam commented on #43
I have not seen this since the performance issues were fixed, closing until I hear about it from a user

[2016-04-04 12:19] #43 closed, assigned to safeforge

[2016-04-04 12:20] #42 closed, assigned to nobody

[2016-04-05 10:17] algodave commented on #54
Currently, trackables are "untracked" (meaning, you won't get them the next day) only when you work on today's checkin. Let me know if we need to change that behavior

[2016-04-05 10:18] algodave commented on #55
Currently, the graph shows trackables that the user is tracking on the current date.

[2016-04-05 12:26] lmerriam commented on #54
Yes that's the behavior I'm referring to. Right now if I remove a trackable on today's checkin it sometimes returns the next day.

[2016-04-05 12:28] lmerriam commented on #55
Correct, but it should be based on the viewport--meaning if I go back in time two weeks I should see what I was tracking two weeks ago, not what I am tracking today. You can see an example by moving around in the graph on the old app.

[2016-04-05 21:54] #33 closed, assigned to safeforge

[2016-04-05 22:10] lmerriam commented on #54
I am sorry I don't have reliable steps to reproduce :\ It may be that it only happens on migrated trackables, as I haven't yet seen it happen for anything I added after getting on the new app.

[2016-04-05 22:11] lmerriam commented on #50
I got this too today:
<img width="587" alt="screenshot 2016-04-05 18 07 09" src="https://cloud.githubusercontent.com/assets/1657444/14299676/d4ac3b52-fb59-11e5-8e46-bffbb3cded9f.png">
<img width="1440" alt="screenshot 2016-04-05 18 18 39" src="https://cloud.githubusercontent.com/assets/1657444/14299998/b19fd9d2-fb5b-11e5-8242-5ef682ded41a.png">

Routing to the chart and back and refreshing the pag

[2016-04-05 22:15] algodave commented on #54
@lmerriam If you provide me the name of the trackable and the checkin day when you removed it, I can investigate in the logs

[2016-04-05 22:16] lmerriam commented on #50
Just added several trackables and got a lot of repeating of the same blue color:
<img width="545" alt="screenshot 2016-04-05 18 15 56" src="https://cloud.githubusercontent.com/assets/1657444/14299803/8dad6086-fb5a-11e5-9a12-6d6f72dd6613.png">

[2016-04-05 22:17] lmerriam commented on #50
(This is not very high priority unless it is a simple fix)

[2016-04-05 22:21] lmerriam commented on #54
Yesterday I successfully removed "test" and "chilly finger" after trying on at least one prior day to remove them.

[2016-04-06 11:19] safeforge opened #56 "touch events on the graph"

[2016-04-06 11:19] safeforge opened #57 "set amount of days shown in the graph based on window size when loaded"

[2016-04-06 12:11] #56 closed, assigned to nobody

[2016-04-06 12:11] #57 closed, assigned to nobody

[2016-04-06 16:15] lmerriam opened #58 "Android doesn't trust talk.flaredown certificate"
On Android the browser tries to stop me from using the discussion forums. I have to hit 'advanced > continue to site' if I want to go to them.

![screenshot_2016-04-06-12-12-34](https://cloud.githubusercontent.com/assets/1657444/14324039/3d12f7d4-fbf1-11e5-96aa-6578021a541e.png)

[2016-04-07 18:15] lmerriam opened #59 "Disable graph dragging when users scrolling vertically on touch"
Scrolling up and down the page on touchscreens also drags the graph horizontally -- it is hard to scroll down to see more graphs without moving the screen, and that's not good because we often want to compare across the same day. Some users have already emailed about this.

Desired: detect when the user is scrolling vertically and disable horizontal graph dragging during that interaction.

[2016-04-08 16:48] algodave opened #60 "Store user's most recent doses rather than computing on checkin initialization"
The `Checkin#most_recent_dose_for` is still causing `Rack::Timeout::RequestTimeoutException` so we need to change strategy: store most recent treatment doses in User profile (update them on today's checkin save) and use them at new checkin initialization

[2016-04-10 09:42] algodave commented on #60
I've pushed all changes to a separate branch:
https://github.com/Flaredown/FlaredownEmber-2/tree/doses-hstore

Before merging, I would like to share with @lmerriam a strategy to avoid users not seeing their recent doses on new checkins anymore.
The ideal solution would be to compute for each user the most recent doses for all treatments they've ever checked-in on FD. But, this computation is too h

[2016-04-11 06:58] algodave commented on #60
After talking on slack, we decided to go with the "ideal" solution. Code for that logic is here:
https://github.com/Flaredown/FlaredownEmber-2/blob/set-recent-doses/backend/app/jobs/set_recent_doses_job.rb

I've run the job on Heroku, everything OK so I'm closing this issue.
@lmerriam Should individual users experience any trouble, please open a new issue

[2016-04-11 06:58] #60 closed, assigned to algodave

[2016-04-13 11:18] algodave commented on #54
@lmerriam
I've made some checks on data and here's what I see:
- you untracked a symptom named "test" on 2016-04-04 11:48:26 UTC
- you untracked a symptom named "chilly finger" on 2016-04-04 11:48:27 UTC

which basically confirms what you said in your previous comment.

There was something wrong with the autosave logic which prevented "untrack" API to be invoked in some cases. I think that was the

[2016-04-13 11:18] #54 closed, assigned to algodave

[2016-04-13 18:29] lmerriam commented on #54
:+1:

[2016-04-13 21:02] lmerriam commented on #50
Another user is seeing the issue: https://talk.flaredown.com/t/report-a-bug/135/103

[2016-04-13 21:11] lmerriam opened #61 "Staging environment"
Will help mobile devs work without messing up production data

[2016-04-14 07:03] algodave commented on #19
@lmerriam I put checkin creation logic on the backend because I think it's safer. It basically initializes checkin with all currently tracked conditions and symptoms, with no values, and all currently tracked treatments, with a "not taken" state and their most recent dose if present in user's profile. I would like to keep this logic on the backend, so that it doesn't need to be replicated by mobil

[2016-04-14 09:22] algodave opened #62 "Section titles missing in Summary"
It's currently like this:

![summary-no-titles](https://cloud.githubusercontent.com/assets/2955556/14523290/27dc3a72-0233-11e6-98c4-a88861437e3f.png)

but instead it should be like this:

![summary-with-titles](https://cloud.githubusercontent.com/assets/2955556/14523300/30a1242e-0233-11e6-8e29-49eae46a28d9.png)

[2016-04-14 09:23] algodave commented on #45
While working on this issue I noticed that section titles were missing on Summary so I opened #62

[2016-04-14 09:28] #62 closed, assigned to algodave

[2016-04-14 13:15] #45 closed, assigned to algodave

[2016-04-14 13:20] lmerriam commented on #19
Sounds good to me! First bullet point definitely, but I don't think we actually need to worry about the second one -- if someone decides to leave their check-in and come back later I'm fine with them completing it through the summary screen.

[2016-04-15 10:29] #59 closed, assigned to safeforge

[2016-04-16 03:46] lmerriam opened #63 "Download CSV"
Add a button called "Download data" in the account dropdown that allows the user to download a CSV with all of their data.

For the user, I believe the best format is:
- One column for each trackable_name
- One row for each date that they checked in

[2016-04-16 14:37] lmerriam commented on #61
Works! Closing

[2016-04-16 14:37] #61 closed, assigned to safeforge

[2016-04-19 10:47] algodave opened #64 "Tags aren't removed anymore"
Found this in the logs:

[code]

[2016-04-19 10:55] #64 closed, assigned to algodave

[2016-04-19 11:36] lmerriam commented on #50
Adding this to launch because multiple users are reporting it

[2016-04-19 13:34] algodave commented on #19
@lmerriam Implemented first solution, as per your suggestion

[2016-04-19 13:34] #19 closed, assigned to algodave

[2016-04-19 14:53] algodave opened #65 "GET /api/charts returned a 500"
Reported by @squiggie
Can you paste the request body here? Thanks

[2016-04-19 14:55] squiggie commented on #65
http://staging.flaredown.com/api/charts?end_at=2016-05-04&id=health&start_at=2016-03-20

vendor-54a080e….js:12 Error: Ember Data Request GET /api/charts returned a 500
Payload (application/json; charset=utf-8)
[object Object]
    at new Error (native)
    at Error.r (http://staging.flaredown.com/assets/vendor-54a080ecf13de66b1a5b0c29e486c4be.js:8:16181)
    at Error.n (http://staging.flaredown.com

[2016-04-19 15:54] algodave commented on #65
The following is failing anyways on staging:

`Checkin.where(user_id: id)`

because there's no Checkin collection currently

[2016-04-19 21:11] safeforge commented on #65
@algodave my fault,  `MONGOLAB_URI` was **nil**

[2016-04-19 21:11] #65 closed, assigned to algodave

[2016-04-26 15:41] algodave commented on #12
@lmerriam Can you provide a definition for "number of users" so that I know how to compute it? I looked at the old app's code but I couldn't understand what does that count mean. Thanks

[2016-04-26 16:51] lmerriam commented on #12
@algodave that refers to the number of users who have _at some point_ used the trackable. If it's in the history of their check-ins we'd count them.

[2016-04-26 16:54] algodave commented on #12
@lmerriam OK I got it. Computation is challenging, I need to think a smart and efficient way to do that ;-)

[2016-04-26 21:57] algodave commented on #12
@lmerriam Sorry but I'm puzzling on this: if a user uses a trackable in a lot of checkins, even in non-adjacent periods of time, does that anyways count as 1 right?

[2016-04-26 21:59] lmerriam commented on #12
Exactly, it's just the **count of users** who have **tracked that trackable at some point**.

[2016-04-26 22:03] algodave commented on #12
@lmerriam Great thanks

[2016-04-26 22:10] algodave commented on #12
@lmerriam Puzzling again sorry! When you say _tracked_ do you mean they added it to checkin when it was _today's_ checkin only? Or do you also want to update counts when users go to a checkin in the past and add/remove trackables?

[2016-04-26 22:11] lmerriam commented on #12
Yes that should update it as well, if they have it in their history we should count them

[2016-04-29 12:32] algodave commented on #12
@lmerriam This is now complete, you can double-check on the live app.
I've run a task on Production env to update all trackable counts per user based on all historic data.

One bonus side-effect we have with the implementation I made is that we keep a count of how many times any given trackable appears in each user's checkins. Perhaps this information might be useful from a data science standpoint

[2016-04-29 12:32] #12 closed, assigned to algodave

[2016-05-03 09:45] algodave opened #67 "Trackables auto-suggest: refresh results as user types more than 3 chars"
Currently the server is hit only when the user types the third char, it should also be hit when the user types the fourth, fifth, and so on.

[2016-05-03 09:47] #67 closed, assigned to algodave

[2016-05-03 21:57] algodave commented on #50
@lmerriam I've fixed the root causes of the issue and now it works fine for new users who haven't done onboarding yet. In order to fix it for existing users, I need to run ad-hoc scripts to ensure that each trackable in their checkins has a different color than the others. To do so, I'll need to put the app in maintenance mode during this night (your time)

[2016-05-03 21:58] lmerriam commented on #50
Nice! I'm fine with putting the app in maintenance.

[2016-05-04 13:11] algodave commented on #50
@lmerriam Fixing colors on existing data in order to avoid duplications was a challenge, there might still be edge cases where duplicates are still there - e.g.: when all colors have been used on a user's trackables over time, repetition could happen within the same trackables' subgroup (e.g. conditions)
A further optimization could be o avoid such repetition. I would suggest to fix individual cas

[2016-05-04 13:11] #50 closed, assigned to algodave

[2016-05-04 13:39] lmerriam commented on #50
Absolutely, that is the right call. I do not want to spend a lot of time fixing a few remaining cases if it's been fixed for users going forward.

[2016-05-07 10:40] #55 closed, assigned to safeforge

[2016-05-09 06:57] algodave opened #69 "[Airbrake] message: Document(s) not found for class Checkin::Symptom with id(s) 5730299f691f6a000300022f"
**Airbrake error:** [#6487](https://flaredown.airbrake.io/projects/121837/groups/1652444868263206487)
**Airbrake project:** Flaredown

**Error type:** `Mongoid::Errors::DocumentNotFound`
**Error message:** `message:
  Document(s) not found for class Checkin::Symptom with id(s) 5730299f691f6a000300022f.
summary:
  When calling Checkin::Symptom.find with an id or array of ids, each parameter must ma

[2016-05-09 07:02] algodave commented on #69
Developer's note:
This kind of errors happen because checkin's trackables records with `_destroy=1` are being sent more than once. A custom logic needs to be implemented on the Ember side: after checkin is saved, delete all trackables records with `_destroy=1`

[2016-05-15 16:50] algodave commented on #21
@lmerriam I've found Intercom-related code on the old app but it seems to me that only the first item is covered, because I only found code that creates users with the following info:
- email
- country
- sex
- birth date
- signup date
- onboarded (true/false)

I'm not finding any code which would send events to Intercom. Of course it's not an issue to implement that, but I want to be sure that's w

[2016-05-15 17:03] lmerriam commented on #21
You're right! The events are set up in intercom's dashboard. The data you listed should cover it

On Sun, May 15, 2016 at 9:50 AM -0700, "Davide Papagni" notifications@github.com wrote:

@lmerriam I've found Intercom-related code on the old app but it seems to me that only the first item is covered, because I only found code that creates users with the following info:

email
country
sex
birth date

[2016-05-15 17:09] algodave commented on #21
@lmerriam Thanks. Another question: did the Intercom Messenger appear on some specific page of the old app?

[2016-05-15 17:22] lmerriam commented on #21
No it was app-wide

On Sun, May 15, 2016 at 10:09 AM -0700, "Davide Papagni" notifications@github.com wrote:

@lmerriam Thanks. Another question: did the Intercom Messenger appear on some specific page of the old app?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-05-16 15:53] algodave commented on #21
I'm going to attach the following custom attributes to intercom users:

![intercom_user_custom_attributes_new](https://cloud.githubusercontent.com/assets/2955556/15295010/db7f4eec-1b8e-11e6-88eb-f9b411db379f.png)

[2016-05-16 16:04] lmerriam commented on #21
Sounds good, these are probably the most important. The only one that's
missing, which I currently use the most, is the number of check-ins the user
has created (with any amount of data).

[2016-05-16 16:04] lmerriam commented on #21
Nevermind! Turns out we don't have that. I've been using "web sessions" as a
proxy. If it's super easy to do it would be helpful though.

On May 16 2016, at 12:04 pm, Logan Merriam &lt;loganmerriam@gmail.com&gt;
wrote:

[2016-05-16 16:20] algodave commented on #21
@lmerriam Returning the checkins count per user is super-easy from a coding standpoint, but I have the strong feeling that it's currently inefficient and would slow-down the app (we would need to adjust the model with some counter caches).
However to this purpose, I suggest we tackle that in a better way by leveraging Intercom Events.
We could have the backend fire events for those actions that yo

[2016-05-16 16:21] lmerriam commented on #21
Perfect, sounds good to me

[2016-05-16 16:57] algodave commented on #21
@lmerriam I have created a new Intercom app as per your suggestion (called it Flaredown2, what a poor fantasy!)
Now you need to turn on desired features for the Intercom Messenger:

![screen shot 2016-05-16 at 18 54 55](https://cloud.githubusercontent.com/assets/2955556/15296911/e2a224e8-1b97-11e6-84e1-29bdd4a368f1.png)

[2016-05-16 17:15] lmerriam commented on #21
@algodave I think the new app is under your account, I don't see it in mine. I can create one and invite you if that's easiest. I've got the subscription for messenger already.

[2016-05-16 17:40] algodave commented on #21
@lmerriam I think that's better if you create the new app and invite me ;-)
Thanks

[2016-05-17 19:05] algodave commented on #21
I had to add additional code in order to support Secure Mode as it was enabled by the old app, and once enabled it can't be disabled. So far so good, we're more secure ;-)

[2016-05-17 19:05] #21 closed, assigned to algodave

[2016-05-24 20:40] squiggie opened #70 "Unable to remove trackable added by mobile app"
Whenever a trackable is added via the mobile app, if you then visit the web app and try to remove that trackable, the UI will remove the item, but the message at the top will continue to say "you have unsaved changes" and if a page reload happens, the trackable is still there.

Please see checkin https://staging.flaredown.com/checkin/5744659374e2db0003000001/summary for en example.

[2016-06-05 23:50] lmerriam opened #71 "Duplicate trackables created"
I added a new trackable that wasn't in the database. When initially added it was correct, but when I returned to the treatments and summary pages I see three versions of it. When I try to remove one I get endless "please wait, unsaved changes" message. The trackable appears black on the charts and has no dotted line.

![2016-06-05 19_14_54-flaredown](https://cloud.githubusercontent.com/assets/1657

[2016-06-06 21:15] lmerriam opened #72 ""Minimum version" API endpoint for mobile"
We need an endpoint that the mobile app can hit and will return the current "minimum version" so that we can force users to upgrade their app if needed. @thunter1000 can answer clarifying questions

[2016-06-07 15:18] lmerriam commented on #71
Update: on later days (after the day I added it) I see this:

![screenshot 2016-06-07 11 15 57](https://cloud.githubusercontent.com/assets/1657444/15863548/6d537b5e-2ca1-11e6-9eac-8c7d3dba578f.png)

This is interesting because the other spelling of 'mediterrannean' was added on the same day, mistakenly, but didn't show up until the next day. Also the duplicates still show up but _only_ on the day

[2016-06-08 08:55] algodave opened #73 "Public signup"
Implement signup page open to the public, with the following fields as discussed with @lmerriam :
- email
- password
- screen name
- a Captcha to protect from bots spam

[2016-06-08 14:22] lmerriam commented on #73
I think we should require screen name actually, so we don't have to build some way to collect it if users don't enter it and then decide to post publicly later on

[2016-06-08 14:24] algodave commented on #73
@lmerriam OK, edited above description ;-)

[2016-06-08 15:13] thunter1000 opened #74 "Support Android WebView Notifying Page Change"
The android application is going to use a web view to temporarily display parts of the site which have not been implemented natively on the android app. In order to do this android needs notifying when a page changes. To do this android can implement a global variable as an interface for an example go here https://developer.android.com/guide/webapps/webview.html and scroll down to the "Binding Jav

[2016-06-14 07:27] #73 closed, assigned to algodave

[2016-06-14 08:00] algodave opened #76 "ember-cli-selectize triggers deprecations"
![selectize_deprecations](https://cloud.githubusercontent.com/assets/2955556/16035304/bb036ee8-3216-11e6-874a-e4666044d56b.png)

[2016-06-14 08:08] algodave commented on #18
This is now obsolete and can be closed

[2016-06-14 08:08] #18 closed, assigned to nobody

[2016-06-14 08:11] algodave commented on #72
@thunter1000 Can you paste the old endpoint URL and returned data format?

[2016-06-14 08:11] algodave commented on #74
@thunter1000 Here's the relevant line from my commit above:

`AndroidInterface.pageChanged(document.location.href);`

You can test it on https://staging.flaredown.com/

[2016-06-14 08:23] thunter1000 commented on #72
@algodave The old endpoint was `minimumClient`.... The json it returned was the following:

[code]

The locales attribute can be removed, as they are no longer provided by the api.

The old implementation can be found here:
https://github.com/Flaredown/FlaredownAPI/blob/0053da6ac3f59a3243952673949026c648e16f3d/app/controllers/application_controller.rb#L21

[2016-06-14 09:01] algodave commented on #71
@lmerriam I tried to replicate this with no success. Can you remember the flow? When you added "mediterranean" for example, do you remember how/when did it change to "Mediterranean Diet"?
What I see in the actual records is just 2 Treatments: "mediterranean" and "Mediterranean Diet".
My feeling is that your connection went down for a bit while saving, so this might be an edge case. Or did you expe

[2016-06-14 09:41] algodave commented on #72
@thunter1000 You can test it on staging:
https://flaredown-staging-api.herokuapp.com/api/minimum-client

[2016-06-14 09:50] algodave commented on #70
@squiggie I have no permission to see your checkin in the app. Could you please try again while keeping the developers console open in your browser, and then post a screenshot here with the errors in both Console and Network tabs? Thanks

[2016-06-14 10:47] thunter1000 commented on #72
@algodave Yes this works perfectly, thanks

[2016-06-14 13:29] lmerriam commented on #71
The flow was that I added 'mediterranean' accidentally, but it didn't appear to go through (didn't show up after I hit enter) so I more carefully typed out "Mediterranean Diet" and added it and when I did it instantly came in as 3 duplicates.

I actually can still see all the duplicates on June 5th (the day I added it) and I cannot see the lowercase version on that day, but every following day I s

[2016-06-14 15:49] algodave commented on #71
@lmerriam I've seen the records for your June 5th checkin and a trackable with the same id (and name "Mediterranean Diet") is present 3 times. I'm going to add a backend validation to prevent such data inconsistency. I still don't have an idea as to how did that happen on the frontend, but it might have been caused by the bug I just fixed in #69

[2016-06-15 06:34] #69 closed, assigned to algodave

[2016-06-15 14:43] algodave commented on #72
Now on production:
https://app.flaredown.com/api/minimum-client

[2016-06-15 14:43] #72 closed, assigned to algodave

[2016-06-15 14:47] algodave commented on #71
@lmerriam I've enforced validation to avoid the same trackable twice in the same checkin, and have run a duplicates removal task to drop the existing ones. I've also improved UI feedbeck to users in case of errors on checkin save (see 8adc516)
I would suggest to close this issue and open a new one in case the same bug appears again; we'd also have more logs available then.

[2016-06-15 14:53] lmerriam commented on #71
Sounds great!

[2016-06-15 15:40] algodave commented on #74
This is on production as well. Closing

[2016-06-15 15:40] #74 closed, assigned to algodave

[2016-06-16 10:58] safeforge commented on #36
@lmerriam I'll start to work on this during the weekend, please provide some mockup when you've a chance.

[2016-06-16 16:04] algodave commented on #71
@lmerriam I've been thinking accidentally about this and I think I've figured out what the root cause is here. I've tried adding "mediterranean" and then "mediterranean diet" and I noticed that "mediterranean" was not suggested to me as I was going to enter "mediterranean diet".
What happened? By looking at network responses I found that suggestions being returned for "mediterr" include trackables

[2016-06-16 17:27] lmerriam commented on #71
It sounds great! We've had some complaints about users struggling to find trackables, so if this fixes the duplicates and improves the autocomplete that's two for one!

[2016-06-16 17:31] lmerriam commented on #71
@algodave while you're working on that can you possibly help me fix a problem with a tiny copy change in the autocomplete?

Users aren't always realizing that selecting the first option adds whatever you have typed as a trackable. I think we can make that more explicit:

instead of

Make sense?

[2016-06-16 17:59] lmerriam commented on #71
One more note -- several users have complained that they aren't getting new results when they type in to the autocomplete on android, and I've actually seen it myself. It seems to just filter within the "A" results that start by default. Maybe this will help with that issue?

[2016-06-16 18:18] algodave commented on #71
@lmerriam I'm not sure I fully understood, but it seems to me that we already have "Add" in the message:

![screen shot 2016-06-16 at 20 14 48](https://cloud.githubusercontent.com/assets/2955556/16128012/3a2b7190-33ff-11e6-8052-5fee8a477116.png)

Also when you say "on android" in the previous comment, do you mean accessing the FD website with the system browser?

[2016-06-16 18:43] lmerriam commented on #71
You're right! I'm thinking of the old app. Nevermind about the "add" item... I don't know why people aren't understanding that.

I am actually able to replicate the autocomplete thing I mentioned right now, both in Chrome on my android device (it's the default browser) and in the webview app. I will take a video and create a separate ticket, the behavior is fairly complex to describe.

[2016-06-17 10:56] algodave commented on #71
@lmerriam Try the new autocomplete ;-)

[2016-06-17 10:57] #58 closed, assigned to algodave

[2016-06-17 11:03] algodave commented on #34
This is related to Facebook app config. @lmerriam I'm closing this issue as you decided to park Facebook login/signup for the time being

[2016-06-17 11:03] #34 closed, assigned to algodave

[2016-06-17 14:53] algodave commented on #40
This is not occurring anymore, closing because obsolete

[2016-06-17 14:53] #40 closed, assigned to algodave

[2016-06-17 15:37] #11 closed, assigned to algodave

[2016-06-17 17:17] algodave commented on #71
Reopening in order to implement the following logic discussed with @lmerriam

[code]

[2016-06-17 18:09] #71 closed, assigned to algodave

[2016-06-17 21:44] #24 closed, assigned to algodave

[2016-06-18 02:26] lmerriam opened #77 "Treatments rearrange when turned on"
Clicking the switch to "turn on" a treatment causes the treatment to rearrange itself in the list

[2016-06-18 14:17] lmerriam opened #78 "Symptom pips break lines on smaller screens"
<img width="210" alt="screenshot 2016-06-18 10 08 44" src="https://cloud.githubusercontent.com/assets/1657444/16171442/be657864-353c-11e6-9050-392607d719a6.png">

[2016-06-18 14:22] lmerriam commented on #78
I can fix this one, if we can get my local instance running

[2016-06-20 10:32] algodave opened #79 "[Airbrake] end pattern with unmatched parenthesis: /40 mg (2 × 20 /i"
**Airbrake error:** [#9079](https://flaredown.airbrake.io/projects/121837/groups/1683428732087229079)
**Airbrake project:** Flaredown

**Error type:** `RegexpError`
**Error message:** `end pattern with unmatched parenthesis: /40 mg (2 × 20 /i`
**Where:** `searches#show`
**Occurred at:** Jun 19, 2016 06:32:31 UTC
**First seen at:** May 11, 2016 16:31:25 UTC
**Occurrences:** 62 (0 since last deploy

[2016-06-20 10:55] #79 closed, assigned to algodave

[2016-06-21 01:51] lmerriam opened #80 "Mobile navigation"

[2016-06-21 01:51] #80 closed, assigned to nobody

[2016-06-21 01:57] lmerriam opened #81 "Doses not being remembered"
Two users have recently emailed to say that their doses are not being remembered effectively

[2016-06-21 17:45] algodave commented on #77
@lmerriam What about always showing treatments and other trackables in alpha order? In both checkin steps and summary.

[2016-06-21 18:28] lmerriam commented on #77
How about newest-added at the top, is that an easy ordering?

[2016-06-22 07:36] algodave commented on #77
@lmerriam We're not currently storing date added on each individual checkin trackable.

I think the most flexible solution would be to store a `position` column and let users re-order trackables via drag'n'drop (we could have some spot in a trackable row where the cursor becomes 2 crossed arrows which users can click and drag).

The default behavior when users add a new trackable could be to set t

[2016-06-22 09:38] algodave opened #82 "Torii addon is triggering deprecations"
That happened after upgrading ember-cli to `v2.6.2`.

[code]

[2016-06-22 12:42] lmerriam commented on #77
That would be excellent -- it's actually a highly requested feature

[2016-06-22 13:11] algodave commented on #77
@lmerriam Cool, do you have some hints for the UI?

[2016-06-23 00:08] lmerriam commented on #81
@algodave i tagged you in a conversation with one of the users, she provided good data

[2016-06-23 00:10] lmerriam opened #83 "Add trackable: make first result "Start typing...""
Users are still looking at the select2 for adding trackables as a dropdown only and complaining that they "only see a few results starting with A"

Before someone has entered the first character, let's make the top result "Start typing..." to indicate that they should be searching for their trackable

[2016-06-23 00:17] lmerriam opened #84 "Integrate Fullstory for analytics"
I've sent invites so that you can get the tracking code

[2016-06-23 16:04] algodave opened #86 "Signup: reCaptcha fixes/improvements"
After conversation with @lmerriam

[2016-06-24 19:43] #78 closed, assigned to lmerriam

[2016-06-25 08:36] algodave commented on #84
Implemented with 2f89013 and 499ecdf

[2016-06-25 08:36] #84 closed, assigned to algodave

[2016-06-25 08:42] algodave commented on #81
I've made some refactoring/improvements to address this:
- 3820cb89adc3a40ac2abca5f4c01a84dac5e9f7d
- 92d28e06de82ed3c4a31cdbada7fa0e26d652739
- 7be2edf0035cf1c2c9deb3344dc7095efd693ead
- bb9348030ac4d412444d407b84449683b9c8fff4

Improved doses dropdown can be tested on staging, @lmerriam please try it out.

[2016-06-25 09:14] algodave commented on #83
@lmerriam I'm not sure that would be a good solution. The top result is "Add <Text Typed>" because if it's chosen, the typed text gets added as a new trackable. If we change it to "Start typing..." it might be ok for when users actually find the desired trackable in the dropdown, but it won't be ok when they don't, and want to insert their custom one.

I suggest the following changes:
1. Change pl

[2016-06-25 12:23] lmerriam commented on #83
Oh totally, I should have made this part more clear:

It should only show "start typing" until they have actually started typing, at which point it would change to "add xxx". I think this is a good solution.

[2016-06-27 09:44] algodave commented on #86
reCaptcha is now being reset in 3 cases:
1. when captcha response expires while user still staying on Signup screen. Suppose user solves the captcha, then he's interrupted by something for minutes, then he gets back to continue signup. He'll find the captcha reset with an explanatory message within it (which comes directly from Google)
2. when user fails the challenge
3. when captcha response expi

[2016-06-27 09:44] #86 closed, assigned to algodave

[2016-06-27 10:02] algodave commented on #77
@lmerriam My proposal is to design a tiny light button at the beginning of each row (left side) with an `fa` icon in it. For example:
- `fa-ellipsis-v` - my favourite: simple and not too eye-catching
- `fa-sort` - my second choice
- `fa-reorder` - too common IMO
- `fa-arrows` - too noticeable and somewhat "old school"

What do you think? Any better idea?

[2016-06-27 14:01] algodave opened #87 "[Airbrake] PG::UniqueViolation: ERROR: duplicate key value violates unique constraint "index_trackings_unique_trackable" DETAIL: Key (user_id, trackable_id, trackable_type, start_at)=(1800, 54, Symptom, 2016-06-24) already exists. : INSERT INTO "trac..."
**Airbrake error:** [#6219](https://flaredown.airbrake.io/projects/121837/groups/1657937244926696219)
**Airbrake project:** Flaredown

**Error type:** `ActiveRecord::RecordNotUnique`
**Error message:** `PG::UniqueViolation: ERROR:  duplicate key value violates unique constraint "index_trackings_unique_trackable" DETAIL:  Key (user_id, trackable_id, trackable_type, start_at)=(1800, 54, Symptom, 201

[2016-06-27 14:08] #87 closed, assigned to algodave

[2016-06-27 14:59] lmerriam commented on #81
LGTM 👍

[2016-06-27 14:59] #81 closed, assigned to algodave

[2016-06-27 15:03] algodave opened #88 "[Airbrake] undefined method `email' for nil:NilClass"
**Airbrake error:** [#2952](https://flaredown.airbrake.io/projects/121837/groups/1658920215586462952)
**Airbrake project:** Flaredown

**Error type:** `NoMethodError`
**Error message:** `undefined method `email' for nil:NilClass`
**Where:** `invitations#show`
**Occurred at:** Jun 23, 2016 05:08:47 UTC
**First seen at:** Apr 07, 2016 20:58:20 UTC
**Occurrences:** 17 (0 since last deploy on `<no inf

[2016-06-27 15:08] #88 closed, assigned to algodave

[2016-06-27 19:03] lmerriam commented on #83
@algodave this is high priority, I see almost every user misinterpreting this. Here's a mockup, I also tweaked the "Add xxx" formatting to make it look like the other results because users aren't realizing that the smaller grey version we have now is selectable.

Curious to hear your thoughts on the two options in the second step

![artboard 39](https://cloud.githubusercontent.com/assets/1657444/1

[2016-06-27 20:06] algodave commented on #83
@lmerriam I had already started on this and have pushed to staging what I've done so far. See   aeca71c commit comment above for a summary of changes. About the "Add xxx" item, I have no control on its HTML as it's created by `selectize.js`'s internal code, but I've been able to improve its readability through CSS.
I think the above changes make anyways a considerable improvement in usability, ple

[2016-06-27 20:43] lmerriam commented on #83
Ok cool I see the updates. I definitely want to keep the darker "Add xxx" because that makes it look more clickable. But I think we should revert these two things:
- The placeholder text should revert to "Add a tag" because if it says "Start typing a tag" before the user clicks into the input they won't know what the field is for. However if we could change to "Start typing a tag" once the user ha

[2016-06-28 16:32] #76 closed, assigned to algodave

[2016-06-28 21:19] algodave commented on #83
@lmerriam All changes discussed can now be tested on staging. To recap:
- dropdown placeholder changes on focus
- "Add XXX" top element fully customized
- initial ten items loaded randomly

[2016-06-28 23:43] lmerriam commented on #83
It's fantastic! I'm closing 👍

[2016-06-28 23:43] #83 closed, assigned to algodave

[2016-06-29 14:53] lmerriam commented on #77
@algodave let's use fa-ellipsis-v, and let's make sure it works well on mobile

[2016-06-29 16:10] lmerriam opened #90 "Mobile menu doesn't dismiss when navigating"
To reproduce: open the menu, click a page to navigate to, note that the app navigates in the background but the menu doesn't dismiss

See an example here: https://www.fullstory.com/ui/1E6EM/session/5705241014042624:5705241014042624!5629499534213120:1467046723196

[2016-07-02 13:26] algodave commented on #90
First thing I did was adding the following event handler in `navigation-bar` 's [installHandlers()](https://github.com/Flaredown/FlaredownEmber-2/blob/master/frontend/app/components/navigation-bar.js#L12) method:

[code]

It worked everywhere except on iOS Safari: what happens there is the above handler prevents Ember actions to be triggered! I've been debugging and googling a lot to figure out wh

[2016-07-02 14:09] algodave commented on #90
I actually preferred to avoid putting that logic in `router.js`, so I created ad-hoc actions in `navigation-bar` component for:
- transitioning to chart page
- opening discourse page in new tab

@lmerriam Can be tested on staging

[2016-07-02 14:09] #90 closed, assigned to algodave

[2016-07-07 16:54] algodave commented on #77
@lmerriam While developing the feature I actually changed my mind about adding the `fa-ellipsis-v` visual hook for dragging. The solution you can now test on staging doesn't add any new visual element. Just click (tap) on a trackable's area and move it up or down: that's it!
I've tested it on Android Chrome and iOS Safari and works pretty well.
To scroll on mobile, users should use the whitespace

[2016-07-07 17:13] lmerriam commented on #77
@algodave it works great on my computer and phone!

Only issue is that I can't seem to drop a trackable in the first or last place in the list, which means when I have two trackables I can't reorder them. This occurs with mouse and touch for me.

I totally understand the idea of dragging the whole trackable but I think we need a specific visual element. Users are going to scroll the page 100 times

[2016-07-07 17:17] lmerriam commented on #77
One other thing to think about: I've learned that our users have crazy long lists of trackables, much longer than the screen height. If there's an easy way to make the screen scroll when I drag a trackable to the top or bottom of the screen that would be helpful! But definitely not worth worrying about if it's going to take hours of dev time, as users can already rearrange anywhere by dragging mul

[2016-07-07 17:27] algodave commented on #77
@lmerriam Moving to first place actually works; whereas moving to last place could be achieved in 2 moves: 1) moving down to n-1 position, 2) moving up the last element by 1 position. Of course I can figure out that and fix.

[2016-07-07 17:29] lmerriam commented on #77
You're right, moving to first place works for me too!

Also I just noticed that scrolling I mentioned already works on desktop, just not my android phone.

[2016-07-08 13:43] algodave commented on #77
Hey @lmerriam you didn't provide me feedback about this suggestion I posted yesterday:

[2016-07-08 14:12] lmerriam commented on #77
@algodave yeah it would be best if it remembered positions day-to-day

[2016-07-08 17:31] algodave commented on #77
@lmerriam On staging you can now test an updated version with the following changes:
- Trackables can now be dragged down to the last position
- To enable drag'n'drop on mobile, simply click on a trackable's title: it will be highlighted with a dashed border and will become draggable

It seems a pretty usable solution to me, let me know what you think of it!

[2016-07-12 15:54] algodave commented on #77
@lmerriam With the above changes, trackables positions are now remembered from today to tomorrow.

[2016-07-12 21:21] algodave opened #92 "[Airbrake] undefined method `most_recent_tag_position_for' for #<Profile:0x007f9fbcd88ed0> Did you mean? most_recent_symptom_position_for most_recent_treatment_position_for most_recent_trackable_position_for"
**Airbrake error:** [#7203](https://flaredown.airbrake.io/projects/121837/groups/1728477420014457203)
**Airbrake project:** Flaredown

**Error type:** `NoMethodError`
**Error message:** `undefined method `most_recent_tag_position_for' for #<Profile:0x007f9fbcd88ed0> Did you mean?  most_recent_symptom_position_for                most_recent_treatment_position_for                most_recent_trackabl

[2016-07-12 21:23] #92 closed, assigned to algodave

[2016-08-14 05:35] lmerriam commented on #36
Here's the mockups of the graph including some navigation updates: https://paper.dropbox.com/doc/Proposal-Flaredown-Patterns-Update-FdavPhtFHzkKFkP8xRxsu#:uid=573683640&h2=History-navigation-and-styles

[2016-08-18 23:44] lmerriam opened #93 "Prompt for start and end dates of trackables"
![Adding a trackable](https://cloud.githubusercontent.com/assets/1657444/17794288/15051e26-657c-11e6-8a47-407391050311.png)

![Removing a trackable](https://cloud.githubusercontent.com/assets/1657444/17794397/00887e2e-657d-11e6-9ae5-5fa512e1b50b.png)

[2016-08-18 23:54] lmerriam opened #94 ""Download data" button in profile"
Add a button called "Download data" that allows the user to download a CSV with all of their data.

[2016-08-18 23:56] lmerriam opened #95 "Allow user to delete account"
When users leave the platform they often want to make sure that their personal information is wiped. We should add a button under settings to allow them to remove their private information and close their account so we do not have to do it manually.

- [x] Add a link in settings
- [x] Create a page for account deletion
- [x] Ask the user for feedback
- [x] Suggest that the user download their data

[2016-08-18 23:57] #53 closed, assigned to nobody

[2016-08-19 01:30] #94 closed, assigned to nobody

[2016-08-19 01:32] lmerriam opened #96 ""Blank" trackables still occurring with new users"
Will provide list of example accounts when ready to fix this (don't want to post them here publicly)

![img_1323](https://cloud.githubusercontent.com/assets/1657444/17796014/5188f930-658b-11e6-8362-c68746d6286c.PNG)

[2016-08-19 01:41] lmerriam opened #97 ""Overall well-being" and "having a flare" trackables"
Replaces the current Start screen:
<img width="909" alt="screenshot 2016-08-18 21 46 10" src="https://cloud.githubusercontent.com/assets/1657444/17796226/3536f258-658d-11e6-9ade-f59f92b65aa0.png">

[2016-08-19 01:52] lmerriam commented on #97
Smiley graphics here: https://www.dropbox.com/sh/1uph1ir8p8wx9oo/AABxyCBlWNuqp1UKzziUFzPAa?dl=0

[2016-08-19 01:54] lmerriam opened #98 "Transition from Airbrake to Rollbar"
We should only do this if you think Rollbar will work well as an error-reporting solution. Let's record the important errors so they aren't lost in the transition.

[2016-08-19 02:20] lmerriam opened #99 "Transition from Intercom to UserEngage.io"
As part of the transition we should try to make sure all current users are added to UserEngage.

[2016-08-19 18:58] lmerriam opened #100 "Optional email reminders"
Users have been asking for daily check-in reminders, and it would increase engagement. For now I believe it is not too expensive to do it by email, since we cannot do push notifications.

- [x] Add to onboarding process
- [x] Add option in settings to stop the reminders
- [x] Send reminder email at user's selected time with a "stop reminder" unsubscribe link
- [x] Add time zone for user
- [x] Sear

[2016-08-25 20:16] lmerriam opened #101 "Pushing production data to data science DB"
We have a data science API that @Graydyn has created. To set it up, we ran a rake task to generate a CSV (we had to take the production app offline to do this) which graydyn was able to use.

I'd like to set it up so that we can periodically push new data from our production DB to our data science API. @mpugach do you have an idea of how much effort this task would take? You can consult with @Gray

[2016-09-01 17:38] lmerriam opened #102 "Barebones chart template for mobile app"
We need a page to point the native mobile app to which has no navigation, as we will run it in a webview and use the app's navigation instead

[2016-09-01 17:40] lmerriam commented on #70
@squiggie is this still happening?

[2016-09-01 18:52] #98 closed, assigned to safeforge

[2016-09-01 19:07] squiggie commented on #70
I will have to check again. I believe adding trackables from the mobile app was broken on our last refactor so we'll have to get that working again. I will update once we have it working and can test.

[2016-09-04 16:30] lmerriam opened #103 "Tap date in check-in to change dates"
Lower priority than other issues in this milestone

Instead of having to page back through many check-ins, users want to be able to select a date directly. I think the simple solution is to allow them to tap on the date at the top of the check-in to open a datepicker.

I really like the pickadate jquery plugin:
But defer to your judgement on the best one to use

We could also use this as a birthda

[2016-09-04 16:48] lmerriam opened #104 "Weather API"
We've had an incredible amount of requests for weather tracking.

Possible API: http://www.openweathermap.com/price

Ideal behavior: when the user goes to any check-in at any point in time they see weather data and in their charts there is a complete history of the weather over time in their area. The weather data for a given day would appear in the check-in summary.

Proposed behavior for fewer A

[2016-09-04 16:48] lmerriam opened #105 "Healthkit"

[2016-09-04 16:52] lmerriam opened #106 "New trackable types"

[2016-09-04 16:53] lmerriam opened #107 "New chart types"

[2016-09-04 17:30] lmerriam opened #108 "Allow user to track food"
Food is extremely important to all illnesses, and our users have asked to be able to track it many times. We would like to allow them to track the foods they eat each day so they can be related to their symptoms.

We will rename the "Tags" section of the check-in to "Health factors", and include a place to log food in that screen:
![fd_food_tracker](https://cloud.githubusercontent.com/assets/16574

[2016-09-05 02:43] lmerriam opened #109 "Timestamped trackables"
Our #1 user request of all time: record a given trackable at different times in one day
<img width="1328" alt="screenshot 2016-09-05 01 41 18" src="https://cloud.githubusercontent.com/assets/1657444/18238330/ea626fde-7309-11e6-8c2e-c9bab8cc86b5.png">

Clicking the "x" next to a rating would remove that particular rating
If there is only one rating (with a time) clicking the "x" would turn it back

[2016-09-05 05:11] lmerriam opened #110 "Move date and "saved changes" text in check-in"
Right now it's inconsistent that the date is inside the check-in card on all sections except for the summary where it's outside the card.

I think it would be visually better if the date was always outside the card to show that it is sort of a global.

This should also prevent users from mistakenly thinking that the arrows next to the date are meant to navigate through todays check-in, which we st

[2016-09-05 06:30] lmerriam opened #111 "Base route should always be check-in"
I miscalculated by making the index route the Chart, after learning more I believe it should be the check-in.

The vast majority of the time, users come in to add or edit check-in data, not to review historical data. We want them to get right to their check-in if they haven't already today, or to their summary to update the data if they have.

The other important effect of doing this is that the u

[2016-09-06 13:28] lmerriam opened #112 "Link 23andMe accounts"
To understand whether a symptom is truly influenced by an environmental factor like a treatment or trigger, we need to know whether it is influenced by genetics as well. We believe we can combine our symptom and environmental data with genetic data from a home sequencing service like 23andMe to fund the interaction between genetics and symptoms. Animated explanation here: https://www.youtube.com/w

[2016-09-06 13:28] lmerriam opened #113 "FitBit"
Data to pull:
- Heartrate
- Foods logged via Fitbit (may interact with food logging integration)
- Sleep
- Water logs
- Activities (many types, need to figure out how to take in and display this data, especially since it is multidimensional)

[2016-09-07 20:36] algodave commented on #106
Examples (shared by @lmerriam)

<img width="238" alt="screenshot 2016-09-07 16 32 55" src="https://cloud.githubusercontent.com/assets/2955556/18327543/57af0a5a-754b-11e6-9796-5f5a6b340d75.png">

[2016-09-07 20:39] lmerriam commented on #106
some examples of new inputs for trackables that we’d build are `time` (example: I went to bed at 8:00pm), `number` with an optional `unit` (example: my temperature was 98° fahrenheit), `select`dropdown (example: my stool was soft/solid/watery)

[2016-09-07 20:55] lmerriam commented on #109
<img width="343" alt="screenshot 2016-09-07 16 50 45" src="https://cloud.githubusercontent.com/assets/1657444/18328087/55a1845c-751b-11e6-89ae-ded96689a7d5.png">

@algodave also I want to clarify (because my mocks confused the mobile devs) that the idea is to submit additional ratings for a given trackable -- and not to have, for example, a 9:00 check-in and a 1:00 check-in

[2016-09-09 04:19] lmerriam opened #114 "Tags in history"
Tags should appear in the history in exactly the same way as treatments.

[2016-09-13 01:35] lmerriam opened #115 "Make email signup and login field an <input type="email">"
Right now when entering email address on mobile it's tough, because the default keyboard comes up, capitalizing the first letter and not showing the @ symbol.

[2016-09-13 01:53] lmerriam opened #116 "Randomize "popular" tags"
Tag data is extremely biased right now, the "popular" tags get too much attention. We should select a random set of tags (perhaps from the top-used 75% of tags? or the top X-hundred tags?) to display in this section instead.

[2016-09-13 02:07] lmerriam opened #117 "Link back to the app from the Discussion section"
On the mobile app the discussion does not open in another window, and there is nothing to link back to the app proper, so users get stuck unless they are very motivated.

[2016-09-13 04:37] lmerriam opened #118 "Navigating to past days with "you haven't checked-in yet today""
If you move back a day while on the "you haven't checked-in yet today" screen, you will still see that screen even if you do have a check-in for the previous day. Ideally the user would see their summary for a day that they have checked-in

[2016-09-14 01:03] lmerriam opened #119 "Trackable metadata"
There are many duplicate trackables in the database. Graydyn and Peer have identified duplicates, let's link them to the same trackable_id in the database for future reference.

Peer has also provided a classification system for symptoms that might be useful to add.

[2016-09-14 01:03] lmerriam opened #120 "Skip to summary link"
No way to get to the summary right now. Let's add one.

[2016-09-14 05:58] lmerriam opened #121 "License the repo"
GPLv3

[2016-09-17 17:03] #99 closed, assigned to algodave

[2016-09-17 20:40] lmerriam opened #122 "Checkins: Warn user of current date in early morning"
Sometimes users complain that they check in late at night, after midnight, and don't realize that they are actually checking in for the following day.

If it is currently between the hours of 12am - 3am we should put a note on the user's check-in to make sure they are logging for the correct day.

[2016-09-17 22:01] lmerriam commented on #93
Question: there could be complications if a user tracks something for a month, then stops it, then later starts again. Can the system keep track of multiple different "periods" of tracking the same thing?

[2016-09-17 22:31] lmerriam opened #123 "Allow changing of trackable names"
Have to figure out what happens here. Do we create a new trackable when they rename, or retain the same trackable_id?

[2016-09-17 22:34] lmerriam opened #124 "Modal scrolling"
Modals should be the full width of their content and scroll within the window, instead of having a window that scrolls inside of them.

[2016-09-17 22:52] lmerriam commented on #124
Currently modals aren't scrolling at all

[2016-09-18 03:49] lmerriam commented on #109
http://amsul.ca/pickadate.js/time/ looks like the best mobile UI for timepicking, and the accompanying pickadate plugin will be useful for #17 and other places where we want to do date selection

[2016-09-28 03:00] lmerriam commented on #109
Slight update to the design, I think it will make it less likely that the user accidentally rates a symptom or taps into the dose input

<img width="451" alt="screenshot 2016-09-27 22 52 22" src="https://cloud.githubusercontent.com/assets/1657444/18899326/12952b32-8506-11e6-83ff-785f3e72b5e4.png">
<img width="446" alt="screenshot 2016-09-27 22 59 53" src="https://cloud.githubusercontent.com/assets

[2016-09-30 02:36] lmerriam commented on #106
Mockup of the process to choose a trackable type when adding a trackable

<img width="857" alt="screenshot 2016-09-29 21 38 01" src="https://cloud.githubusercontent.com/assets/1657444/18978975/1bd0f8f8-8695-11e6-9b69-e744dea6c861.png">

[2016-10-05 19:40] algodave commented on #109
@lmerriam How should these be represented in the chart? We have one tick per day in the chart's x-axis

[2016-10-05 19:59] algodave commented on #106
@lmerriam I'm thinking: if we allow users to track their own custom things, each one with a custom set of values, we would loose the ability to compare those data across different users.

Following the example in your mockups:
- one user could track "Abdominal Pain" with values "Low", "Medium", "High";
- another user could track "Abdominal Ache" with values "Short with low intensity", "Short with

[2016-10-05 20:52] algodave commented on #93
@lmerriam It's not an issue to the system to keep track of multiple different "periods" of tracking the same thing. It already acts like this if you delete a trackable on _today's_ checkin and then add the same trackable again some days later.
The data model is ready for this change, it's merely a frontend change plus minor API adjustments

[2016-10-05 21:46] lmerriam commented on #109
There are a few ways that I can think of. Do either of the following work better for you guys?

1) The x-axis already represents time, we could "unlock" it from a daily check-in and let the points fall at their respective times.

2) We could store an "average" score for the day and graph that the same as we are graphing the single daily value on the chart currently. I like this somewhat better, as

[2016-10-05 21:49] lmerriam commented on #93
Ok! In that case I think we just need to adjust the text a bit to show the user that the specific period they are ending. For example "This will be considered the last day that you tracked Crohn's Disease for the period starting May 1, 2015"

Does that make sense?

[2016-10-05 21:52] #111 closed, assigned to algodave

[2016-10-05 21:56] algodave commented on #109
I like the idea of avg values for trackables who are rated on a 0-4 scale, whereas for treatments I would still show one marker icon when taken, and when the user clicks on it the tooltip would show all doses with times, one per line

[2016-10-05 21:57] lmerriam commented on #106
I had the exact same concern, you are absolutely right that it will fragment the data. I thought it would be a big problem so I talked to the data scientists before making the tickets, but they both agreed that it will probably get us more data, and even if they have to do more work or ignore some data it's worthwhile.

What if we forget about the `select from options` input. That one is less impo

[2016-10-05 22:17] lmerriam commented on #109
Yes! That sounds perfect 👍

[2016-10-06 10:15] algodave commented on #106
Totally agree, I was going to suggest that same thing

Il 05/ott/2016 23:57, "Logan" notifications@github.com ha scritto:

[2016-10-24 15:16] lmerriam opened #126 "Cannot delete a symptom that has been added today"
1. Go to today's check-in and add a new symptom
2. Wait for "changes saved" then remove the new symptom
3. Notice that the saving indicator is now stuck on "unsaved changes"
4. Refresh the page and the symptom will be back

[2016-10-26 17:56] #117 closed, assigned to lmerriam

[2016-11-27 05:19] lmerriam opened #127 "Bottom nav bar on mobile"
On mobile sizes we currently switch to a hamburger menu that makes navigation a chore. Let's use a mobile navbar instead.

<img width="714" alt="screenshot 2016-12-23 00 46 50" src="https://cloud.githubusercontent.com/assets/1657444/21450178/4d155368-c8a9-11e6-953c-69d7194ba7f3.png">

Assets here: https://www.dropbox.com/sh/y1cbfg4hazy0piu/AAAor5dOahdVs8Yxwkpa06Lda?dl=0

Of course, we don't have a

[2016-11-28 06:06] lmerriam opened #128 "Explore page v1"
![explore_v1](https://cloud.githubusercontent.com/assets/1657444/20657653/8a019bf4-b505-11e6-9519-d23bd1005c00.png)

The idea is for trackables (of all types) to have their own page with stats about their correlation to other trackables. Understanding how to treat chronic illness is all about correlations -- between environment and symptoms, between treatments and conditions, etc.

@Graydyn has al

[2016-12-03 19:28] lmerriam commented on #124
Although the font size decrease works to keep the Profile modal content than the window, it makes it hard to use on touch.

The intent of this ticket was to fix overall modal behavior, so I will keep it open for now.

[2016-12-05 02:36] lmerriam opened #129 "Notes in history"
Using the same chart as treatments, show a dot on days when the user left a note on their check-in.

[2016-12-05 06:56] lmerriam commented on #108
Max, please ask @algodave and @safeforge for specific technical questions. I have the first one: how should we store and reference this food data?

[2016-12-05 15:27] mpugach commented on #108
the issue number inspires me to say "namaste" :pray:

@algodave, @safeforge there are some tests failing on my local. One in backend and 10 in frontend. Is it Ok?

Should we add Travis integration to the PRs? It is forever free for open source

[2016-12-05 17:25] #96 closed, assigned to algodave

[2016-12-05 22:08] safeforge commented on #108
@mpugach I've pushed [4e7536c ] which fix backend's specs.

[2016-12-06 06:32] algodave commented on #109
@lmerriam In the latest designs the 'x' to remove a rating disappeared, I guess you don't want to loose that feature though?

[2016-12-06 11:38] mpugach commented on #108
@safeforge thanks!

@lmerriam I'm going to store food descriptions in PG. It will behave the same as tags:
1. refer to PG id from Mongo document
2. utilize "globalize" gem to store localizations in PG

I assume that we should allow users to enter new food items. So we will not override the PG table primary key with original USDA id, but keep it in a separate field instead.

Also I'm going to add 1

[2016-12-06 11:50] algodave commented on #108
@mpugach Agree on everything! Just a note: food records from the USDA db should be saved with `en` translations which is our default locale.

[2016-12-06 14:01] lmerriam commented on #109
@algodave oh yes I forgot to mention that! I was hoping we could find a way to move that ability to the time select -- one of the time options would be "Remove rating". I don't know how feasible that is. It would be very helpful because otherwise we have a bunch of "x" all over the page and it's tough to give them enough space.

We should still have the 'x' to remove the trackable though, that was

[2016-12-12 12:21] mpugach opened #132 "Wait till user ends typing before querying for search terms"
User experience a lag between every key press.

So it was proposed to reduce API hits by waiting for user input finish.

@lmerriam [wrote](https://github.com/Flaredown/FlaredownEmber-2/pull/131#issuecomment-265934183):

[2016-12-14 05:34] lmerriam commented on #104
Jared pointed out the api at https://darksky.net/dev/ which looks like it might be the best option.

[2016-12-14 16:06] mpugach commented on #104
@lmerriam

Location on IP is the easiest to implement. But there can be cases when the client is located behind some Network Address Translation (corporate networks, VPNs, China government restrictions and smart Chinese :) ) so it will not be accurate enough for some cases.

We can also ask browser location service. In this case we need the user's permission. It uses GPS if available, WiFi triangu

[2016-12-14 23:01] lmerriam commented on #104
@mpugach I think we should show an "empty" state asking the user to enter their postal code -- I believe they will like this better than if we guess for them due to privacy. This should appear right below the "notes" in the summary screen.

The user should be able to change their location as well, by clicking the postal code.

Because I don't want to overload the charts with weather, I believe we

[2016-12-15 11:06] mpugach commented on #104
"daily'' observation for the current day is available during the day. But I do not know if they make corrections. In case of issue we can implement background job to update it in the end of the day.

[2016-12-15 18:09] safeforge commented on #82
fixed in 5ee6a8b

[2016-12-15 18:09] #82 closed, assigned to safeforge

[2016-12-19 03:06] lmerriam opened #134 "Upgrade health data security"
Right now account data (PII) is stored separately from health data (PHI). However, if someone were to break into both DBs they could connect a user's data to their email address via user_id. We should encrypt the user_id so that even if someone was able to obtain copies of both databases, they would not be able to identify users.

Would also like to see a basic proposal for how to store and secure

[2016-12-20 17:05] mpugach commented on #104
@lmerriam

How the weather states illustrations going?

There are `temperatureMin` and `temperatureMax` but no `temperature` for daily. How should the chart look like?

[2016-12-20 18:10] lmerriam commented on #128
Here's a mock of a basic top-level "Explore" page:
![explore_v1_search](https://cloud.githubusercontent.com/assets/1657444/21361917/1e2d3bca-c6b4-11e6-802a-9d52f50b4916.png)

It's fairly self-explanatory but the major points are:
- Search across the different trackable types using the same standard input that we use to find trackables in the check-in. No separate template needed for results, they

[2016-12-22 20:41] mpugach commented on #127
Need mockup

[2016-12-22 20:45] mpugach commented on #122
Can you provide a text and mockup please?

[2016-12-22 20:50] mpugach commented on #100
Add an email mockup please

[2016-12-23 08:10] #120 closed, assigned to lmerriam

[2016-12-23 08:10] lmerriam commented on #120
Not relevant if we add the planned quick nav bar

[2016-12-23 08:25] lmerriam opened #136 "History visual update"
We want to update the the history design so the data is easier to read, with better contrast and clearer separation between different charts.

<img width="418" alt="screenshot 2016-12-23 00 21 20" src="https://cloud.githubusercontent.com/assets/1657444/21449862/543bb40a-c8a6-11e6-82f0-b36146c704a6.png">

**All charts**
- [x] White cards behind each chart. We shouldn't need to change the way chart

[2016-12-23 08:30] lmerriam opened #137 "Offline capability [INCOMPLETE ISSUE]"

[2016-12-23 08:31] lmerriam opened #138 "Clinical data trackable [INCOMPLETE ISSUE]"

[2016-12-23 08:33] lmerriam opened #139 "Check-in quick navigation"
Users like the walkthrough-style daily checkin. But sometimes they also want to go straight to a certain section, or skip to the summary. We'll add a quick navigation bar to address this.

Desktop:
![image](https://cloud.githubusercontent.com/assets/1657444/21487826/fabc4200-cba2-11e6-8eee-2b8ab4a06a94.png)

Mobile:
![image](https://cloud.githubusercontent.com/assets/1657444/21487581/38c895d4-cb9a

[2016-12-23 08:47] lmerriam commented on #127
Mockup added

[2016-12-23 08:47] lmerriam commented on #100
Hold on this one

[2016-12-26 12:47] mpugach commented on #127
1.  > "Settings" should route to the account modal

do you mean "edit profile" modal?

2. What about "change password" and "Download data" (CSV)?
3. is history == charts?
4. did you thought how it will stack with future chart navigation bar?

[2016-12-26 13:00] mpugach commented on #63
Can it be "Send me the data"?

Because export can take some seconds, so:
1. user will stair at the monitor and wait something to happen
2. web server will waste the connection for long running response

We can process this asynchronously instead. And send the result with email. This will require a sidekiq heroku worker.

[2016-12-26 20:44] lmerriam commented on #63
This would be much better! I was actually going to ask you if this was an option, as most of our users are on mobile and would have trouble using the resulting CSV if it went directly to their device.

I assume the sidekiq worker is pretty inexpensive to run if we assume, for example, 100 downloads per day in total (I think that's 20x what we'll actually see).

[2016-12-26 20:48] lmerriam commented on #127
1) correct, i'm referring to the "edit profile" modal, my mistake
2) Let's put those under the "settings" (we should use that name going forward since we now have more that just profile data there)
3) Yes, we want to start using the name "history" for that section, as I have heard feedback that users understand it's purpose better. That change is user-facing, it's up to you whether we rename the c

[2016-12-26 21:59] lmerriam commented on #127
![image](https://cloud.githubusercontent.com/assets/1657444/21487068/d792ab16-cb8e-11e6-89e8-7e12ed356877.png)

[2016-12-26 22:49] lmerriam commented on #127
We should also mirror the changes in the desktop navigation, although in reverse order (this is because on mobile most people hold their phone with their thumb on the right side, but on desktop we typically read from the left). So it would be "check-in   history    explore   settings" in the top bar.

I'm curious -- are there downsides to the settings/edit-profile modal being available everywhere?

[2016-12-26 23:33] lmerriam commented on #17
Below is screenshot of the graph navigation on desktop. We may be able to improve the design in the future, but for now easiest is just to use the same navbar with some responsive styles:

![image](https://cloud.githubusercontent.com/assets/1657444/21487571/bde57be8-cb99-11e6-9757-8b35ab6c1f16.png)

[2016-12-27 13:36] mpugach commented on #101
@Graydyn hi, do you execute `rake utils:csv_export` for this?

Why is offline needed? Is it about heroku limits or data consistency?

[2016-12-27 14:14] mpugach commented on #127
The profile modal logic didn't changed. Same resources are loaded.

2. do you mean to move the form fields or to add a button which navigates to password change modal on profile modal?

[2016-12-27 14:59] Graydyn commented on #101
I don't do the exports, talk to algodave in Slack.

[2016-12-27 15:05] mpugach commented on #127
how this part should look like, after we remove profile links?

![flaredown 2016-12-27 17-02-36](https://cloud.githubusercontent.com/assets/426179/21502163/98020c76-cc56-11e6-8c17-6836c1294e10.jpg)

should we keep dropdown only to show "logout"? how about mobile?

[2016-12-27 15:29] mpugach commented on #127
how about changing the content in same modal?

![flaredown 2016-12-27 17-28-52](https://cloud.githubusercontent.com/assets/426179/21502654/133c6f82-cc5a-11e6-962f-b0e59531f7e8.jpg)

[2016-12-27 16:57] jaredgalanis commented on #128
I’m working through the top level explore page right now. One thing I am noticing is that our power select drop down (and related searches/queries) that allows searching/selecting a trackable is built to take one trackable at a time. The above mock contemplates the select including all trackables in the select. Per discussion with @lmerriam just now, the most desirable/quickest thing for the MVP o

[2016-12-27 17:05] lmerriam opened #142 "Remove "popular" tags once user has some "recent" ones"
Only show "popular" when the user's "recent" items is empty, as it is currently too much text

[2016-12-27 19:25] lmerriam commented on #101
@algodave is that the correct rake task? It looks right.

@mpugach as I understand it, the potential benefit of a separate DB is that the data scientists can have their own sandbox to create endpoints for their needs. Particularly in the future if we need to calculate more complex stats like correlations or user similarity and we want to crunch them on a server running Python or R or another more

[2016-12-27 20:25] Graydyn commented on #101
I don't know much about your prod environment, but as long as you can install pandas on it then moving the endpoints should be easy enough. Maybe setup a cron job to generate the statistics during the night and cache them? The code to generate the stats can be copied out of my notebooks. And if you can't run pandas, porting the code over to JavaScript or whatever you're using shouldn't be too bad,

[2016-12-28 04:46] lmerriam commented on #127
Good point. I think we should remove that entirely and put everything under the "settings" page. If it's not too much effort to change, it would make sense for this to be a full page so that we can add new sections (like reminders) in the future:

![image](https://cloud.githubusercontent.com/assets/1657444/21514096/db16e21a-cc8e-11e6-9919-3db2f56b91f4.png)

I like your proposal for changing the pa

[2016-12-28 04:50] mpugach commented on #127
is it autosave?
is "change password" a modal?

[2016-12-28 04:53] lmerriam commented on #127
Oh sorry I'm moving quick to answer your question and missed some things. Autosave would be nice but we can preserve the same style of having a save button at the bottom of the card if you find it easier.

For "change password" we could change the content of the "account" card, or it could be an independent page. Both work from a UI perspective, so whichever you prefer to build.

[2016-12-28 04:56] mpugach commented on #127
how about "change password" be a second card?

[2016-12-28 05:07] lmerriam commented on #127
👍 works for me

[2016-12-28 09:51] mpugach commented on #108
@lmerriam deployed to prod

[2016-12-28 09:52] #108 closed, assigned to mpugach

[2016-12-28 10:24] mpugach opened #143 "add Travis CI for free?"
- [x] Run API tests
- [x] Run API linter (rubocop)
- [x] Run Client tests
- [x] Integrate it with Github to build and show status on every code push

[2016-12-28 12:19] mpugach commented on #104
@lmerriam  see this on staging
used my forecast API key

[2016-12-28 13:23] mpugach commented on #101
The pandas can be installed as a separate heroku app, which can be connected to the mongodb to consume user trackings.

It is not clear what output it should produce to be accessible by the public.

[2016-12-28 17:45] lmerriam commented on #101
R is also popular for data science, Peer has written some stuff we'd like to use for the app which uses R libraries. @Graydyn how do you think we should deal with multiple data scientists working in different languages? Is it desirable to run multiple environments or should we translate everything into one language?

[2016-12-28 18:01] Graydyn commented on #101
I don't think you'll ever need to run R in prod. You could get Peer's opinion on that too, but R is more for an academic environment. There are people out there running Shiny apps in the real world, but in the long run it will probably be easier on Peer to convert to Python than try and productionalize and webifiy his R code.

[2016-12-28 18:56] lmerriam commented on #104
It's looking really good!

It appears to be getting tomorrow's forecast on today's check-in. If I go to my summary today I see this:
<img width="520" alt="screenshot 2016-12-28 13 14 27" src="https://cloud.githubusercontent.com/assets/1657444/21528772/ed663212-cd02-11e6-8143-a0fdcfccafdb.png">

But it's not supposed to rain today according to Dark Sky. It _is_ supposed to rain tomorrow however:
<i

[2016-12-29 05:28] lmerriam commented on #101
@Graydyn thanks for the feedback. I think Peer has specific knowledge of R so we all might need to get together and translate. At least for now it's pretty simple -- very similar to the treatment effect stuff you had written earlier.

@mpugach for context there are two main places we'd want to use it:

1. As part of the history we want to build some personal analytics for the user. For example we

[2016-12-29 08:06] mpugach commented on #101
Because the data needs to be accessed by the app, there is no benefit in a separate DB.

Since it looks like a denormalized reports (no relations needed) we can utilize existing MongoDB to store this.

So I think of the following flow:
[Heroku Scheduler](https://devcenter.heroku.com/articles/scheduler) or our [own custom clock process](https://devcenter.heroku.com/articles/scheduled-jobs-custom-cl

[2016-12-29 11:03] mpugach commented on #104
pressure is converted using [this formula](https://www.reference.com/science/formula-convert-millibars-inches-45d1136c4c9a2284)

[2016-12-29 13:23] mpugach commented on #104
There was an issue. The date was converted to time in UTC and then to Unix timestamp to send it to forecast API. Now it is converted to location's timezone first and then to timestamp.
It is fixed on staging, so please test.

[2016-12-29 13:33] mpugach commented on #104
"precipIntensity" is used

[2016-12-29 14:04] mpugach commented on #104
this is also deployed to staging, the changes are applied only to new forecasts

you can change postal code to trigger new forecast check, it was no cached before

[2016-12-29 14:18] lmerriam commented on #143
@mpugach if it will improve your development process, let's do it 👍

[2016-12-29 14:21] mpugach commented on #143
It will enforce every developer to fix tests and follow styles

currently there are some JS dead tests (the functional is ok) and Ruby linter complains

[2016-12-29 14:28] lmerriam commented on #104
@mpugach i'm sorry, I misunderstood the pressure conversion. As far as I can tell both are used but they are preferred in different locales, similar to fahrenheit/celsius.

How much effort do you think it would take to allow the user to change units of measurement (presentationally) between `°f / °c` for temperature and `mbar / inhg` for pressure? The user could click a button to open a form and c

[2016-12-29 14:32] mpugach commented on #104
ok
we will save his preferences in profile and will adjust charts too
click on units with a pointer on hover is faster
it will take few hours

[2016-12-29 14:36] lmerriam commented on #104
Sounds good, let's give these units an underline in the weather card to indicate that they can be changed.

[2016-12-30 11:36] mpugach commented on #104
deployed to staging

[2016-12-31 21:03] lmerriam commented on #101
This sounds like the right approach to me

[2016-12-31 21:03] #101 closed, assigned to mpugach, Graydyn

[2016-12-31 21:39] lmerriam commented on #104
Strange to see something like "Partly Cloudy Night" for my daily weather, do you know how the API picks a time to sample from? I opened this check-in at ~4pm.

![image](https://cloud.githubusercontent.com/assets/1657444/21579340/b3c2de12-cf77-11e6-8cb6-c9076b093fd6.png)

Is it possible to user precipAccumulation, or is that only available for time machine requests? If we can't use accumulation, le

[2017-01-02 04:13] lmerriam opened #145 "Trackable effects on symptoms"
The ultimate goal of Flaredown as a tool for personal health is to help users quantify the effects of treatments and environmental stressors on their individual symptoms and condition as a whole.

A simple way to infer treatment effect would be to look at the average severity of a particular symptom on days when the treatment was taken, vs days when the treatment was not taken, and take the differ

[2017-01-03 12:39] mpugach commented on #104
here are some API responses

for last response the **currently** and **daily** timestamps are same, but **precipIntensity** differs. I think it is in scope of whole day.

also see the icon for **currently** and **daily**. Daily timestamp is always midnight but icon sometimes is "partly-cloudy-day". Seems we need to show same summary (from the payload) to the user to make more sense. Currently we s

[2017-01-03 13:33] mpugach commented on #104
deployed to staging

[2017-01-03 20:30] Graydyn commented on #145
I've pushed a script up to my github, https://github.com/Graydyn/flaredown_data/blob/master/treatment_effectiveness.py

Take a look, and let me know if there are any questions.  It will be up to the web team to load db fields into pandas, as I was working from the CSVs.

It returns a value from -5 to 5, with -5 meaning the user reports a 0 symptom rating when not on the treatment and 5 when on it,

[2017-01-03 21:55] lmerriam commented on #104
This looks excellent! I am happy to deploy. Nice work.

[2017-01-04 06:49] mpugach commented on #104
thanks

[2017-01-04 07:12] mpugach commented on #110
@lmerriam, deployed to staging

[2017-01-04 11:02] mpugach commented on #63
Can you provide the email subject and text please?

[2017-01-04 13:20] lmerriam commented on #63
Subject:
"Your Flaredown data is here"

Body:
"You'll find your Flaredown data attached in CSV format. We hope it helps!

 \- The Flaredown Team"

[2017-01-04 13:28] lmerriam commented on #110
👍 Looks great, ready to deploy

[2017-01-04 13:38] mpugach commented on #134
All other secret keys are stored in environment variables on Heroku

[2017-01-04 13:52] mpugach commented on #127
will fix that tomorrow

![flaredown 2017-01-04 15-49-48](https://cloud.githubusercontent.com/assets/426179/21644356/c3d68d6e-d295-11e6-84f9-db4a4d525639.jpg)

[2017-01-04 13:53] mpugach commented on #17
how it stacks with bottom navbar https://github.com/Flaredown/FlaredownEmber-2/issues/127#issuecomment-269244516

[2017-01-04 14:34] lmerriam commented on #17
![screenshot 2017-01-04 10 55 35](https://cloud.githubusercontent.com/assets/1657444/21648535/55f7d3d0-d26c-11e6-84ba-8cc6fb102599.png)

[2017-01-05 12:18] mpugach commented on #127
@lmerriam check on staging please

[2017-01-06 02:30] lmerriam commented on #127
@mpugach I pushed 2 commits with some style tweaks (forgot to reference issue number)

Only remaining issue is that I get a very large space in between the userengage icon and the navbar or bottom of page. I don't see userengage in my local environment so I can't fix it:
![image](https://cloud.githubusercontent.com/assets/1657444/21704124/f9c58778-d384-11e6-8303-deb6ad6bdbe5.png)

Distance between

[2017-01-09 10:56] mpugach commented on #127
me neither

but I have an access to deploy staging ))

[2017-01-09 11:40] mpugach commented on #143
@lmerriam could you also check if these options enabled?

![monosnap 2017-01-09 13-38-49](https://cloud.githubusercontent.com/assets/426179/21765362/17442e5a-d671-11e6-83e0-e3899f3d14c2.jpg)

[2017-01-09 13:14] #104 closed, assigned to mpugach

[2017-01-09 13:24] #110 closed, assigned to mpugach

[2017-01-09 14:04] mpugach commented on #136
should we also make onedimensional charts lower?

[2017-01-09 15:36] lmerriam commented on #143
Should be good to go

<img width="838" alt="screenshot 2017-01-09 10 36 19" src="https://cloud.githubusercontent.com/assets/1657444/21777090/64dfba7c-d66b-11e6-9843-6ba6a12bef48.png">

[2017-01-10 07:57] #127 closed, assigned to mpugach

[2017-01-10 08:08] algodave commented on #109
@lmerriam I won't have time for this in the current month, I only started with some backend model changes on the branch called `timed-trackables-proposal`. Feel free to reassign

[2017-01-10 08:30] mpugach commented on #63
@lmerriam check please

[2017-01-10 17:00] lmerriam commented on #63
Works flawlessly for me! Ready to deploy

[2017-01-10 22:06] lmerriam commented on #109
Thanks @algodave , I'll close for now due to complexity and recreate with updated requirements when we're prepared to work on this one.

[2017-01-10 22:06] #109 closed, assigned to nobody

[2017-01-11 09:03] mpugach commented on #63
Then activate please one worker dyno on heroku. Or I can do it, just need your confirmation, since it costs 25$/month

[2017-01-11 10:13] mpugach commented on #134
@lmerriam `Checkin#user_id` is encrypted on staging, can you please check (old checkins also)?

[2017-01-11 13:43] mpugach commented on #143
resolved

[2017-01-11 13:43] #143 closed, assigned to mpugach

[2017-01-11 23:26] lmerriam opened #151 "Trackable analysis pages"
People journal their symptoms so they look for correlations with stressors and treatments. If they find a correlation, they can use it to try to control their illness -- for instance by eliminating a food that seems to be correlated with high symptom activity. But that process is hard, because there are so many contributing factors that can obscure the real cause of the issue.

Unlike a normal jou

[2017-01-12 09:39] #63 closed, assigned to safeforge, mpugach

[2017-01-12 11:04] #134 closed, assigned to mpugach

[2017-01-12 16:03] lmerriam commented on #145
Pulling in the information from #151 so I can close it, because these issues are too similar:

<img width="548" alt="screenshot 2017-01-10 14 59 54" src="https://cloud.githubusercontent.com/assets/1657444/21869830/7042bffa-d827-11e6-9eac-14601e3dc1a2.png">

I propose that we create a page for each `trackable_type` that shows these correlations both for the individual user and for our entire popula

[2017-01-12 16:03] lmerriam commented on #151
Too similar to #145

[2017-01-12 16:03] #151 closed, assigned to mpugach

[2017-01-12 16:25] lmerriam commented on #145
@Graydyn after talking with @mpugach we need to figure out the specifics of how to hook Flaredown data into these python scripts. The situation we want to avoid is one where each time we update the script Max has to manually go in and edit it to make it connect to the DB. Ideally we could get it hooked in and then future updates could be pushed directly.

This is getting a little over my head at t

[2017-01-12 16:30] mpugach commented on #145
It seems readable enough to be translated in Ruby, but it will be pain to port Python logic changes every time.

I'm not very familiar with the language, so will not be effective to write the DB logic. But if no one can do it, then why not to learn some Python? :)

[2017-01-12 17:13] Graydyn commented on #145
I think porting to Ruby would be hard because of the Pandas dataframes.  Unless Ruby has something similar?
I think the effectiveness code could be rewritten in Ruby without dataframes, but we might find ourselves in a similar situation in the future, when we want to start running stats code that does need dataframes.

I'd recommend either writing the DB code in Python, or creating a Ruby interfac

[2017-01-12 21:57] lmerriam commented on #128
Closing in favor of #145 which includes more advanced analysis of effects

[2017-01-12 21:57] #128 closed, assigned to nobody

[2017-01-13 15:26] mpugach commented on #136
@lmerriam what do you mean?

[2017-01-15 18:09] lmerriam opened #155 "Journal view in history"
Currently it is tough to get to the summary and review past entries like a journal. We should create an alternate "history" view that allows the user to read their data more like a journal.

![image](https://cloud.githubusercontent.com/assets/1657444/21964966/dc455b96-db23-11e6-8acf-aa42e8acac7e.png)

- [x] History can now be switched between Charts and Journal views
- [x] Show list of journal ent

[2017-01-15 19:23] mpugach commented on #145
We can store prepared data in a separate MongoDB table(collection). By preparations I mean - no joins and calculations needed, because they will be done on every checkin insert/update in async background job. This is on Ruby side.

So the Python script will connect directly to Mongo without Puma(webserver) in the middle. It will be much faster, since there is a lot off data. And it will not waste

[2017-01-15 19:42] lmerriam opened #156 "Shared health reports"
Flaredown has the very cool ability to collect and summarize lots of data about a person's health. Often, users want to share this with external people like a caregiver, doctor or friend. To facilitate this, we should create a way for users to send a summary of selected data to external people. The proposal is to create a unique unlisted page that users can link their doctors or friends to, and wh

[2017-01-15 19:52] lmerriam opened #157 "Harvey-Bradshaw Index"
The daily checkin is entirely driven by patients, which means they choose what they track. But sometimes we need to ask specific questions for research purposes. For our first test of this system, we should add the [Harvey Bradshaw Index](https://www.janssenmedicalinformation.ca/assets/pdf/HarveyBradshaw_English.pdf) (HBI) for Crohn's Disease. This is a short survey that doctors use which calculat

[2017-01-16 09:03] mpugach commented on #136
The log from Slack:

for the question about min/max values: we want to set the top and bottom values of a given chart to encompass the greatest/least values that are visible on the chart for the current time period

can we floor and ceil if they are float?

so if i’m looking at a time period where humidity ranges from 62-72, we’d want a chart range that contains that range (for instance 60-75 woul

[2017-01-17 08:55] mpugach commented on #136
@lmerriam did you mean for treatment also?

[2017-01-17 11:00] mpugach commented on #17
@lmerriam we need those svgs

![improved history navigation issue 17 flaredown flaredownember-2 2017-01-17 12-59-28](https://cloud.githubusercontent.com/assets/426179/22017924/f54b1ac6-dcb4-11e6-8530-130cdfa63a3a.jpg)

[2017-01-17 20:02] lmerriam commented on #136
I guess what I should say is this: the *default* color for a chart should be our primary green color #73C1BA

So trackables that have assigned colors should override that color. Right now that's only symptoms, conditions and treatments.

[2017-01-17 22:17] lmerriam commented on #17
SVGs: https://www.dropbox.com/sh/gsxogdsxp7v7n5t/AABMAX7K0KCgmsO2iivXxUTma?dl=0

[2017-01-20 08:25] #136 closed, assigned to mpugach

[2017-01-20 14:51] mpugach commented on #17
@lmerriam how about to extract the scrubber to a separate issue? I would better return to it after charts filtering and caching

[2017-01-20 14:51] lmerriam commented on #17
Sounds good 👍

[2017-01-20 15:08] mpugach opened #162 "Charts scrubber"
Tap anywhere on the charts to show the scrubber, along with a button displaying the date. Tap on the scrubber again to hide it. Tap the button to navigate to the check-in for that date.

![improved history navigation issue 17 flaredown flaredownember-2 2017-01-20 17-07-18](https://cloud.githubusercontent.com/assets/426179/22154123/f59b070e-df32-11e6-91e7-fb7fb68e5b3c.jpg)

[2017-01-23 10:33] mpugach commented on #17
@lmerriam fixed the userengage position, so check the staging please

[2017-01-24 06:27] #121 closed, assigned to lmerriam

[2017-01-24 06:27] #115 closed, assigned to lmerriam

[2017-01-24 08:33] mpugach opened #164 "Empty charts bug"
![1c1bed44-e195-11e6-92b4-720ded533732](https://cloud.githubusercontent.com/assets/426179/22239691/6da376ba-e220-11e6-95ce-9db225ad4930.png)

![28f39d46-e195-11e6-9c4d-3a982e0503bc](https://cloud.githubusercontent.com/assets/426179/22239688/6aa06144-e220-11e6-9e0d-378e304d405b.png)

[2017-01-24 09:03] #17 closed, assigned to safeforge, mpugach

[2017-01-24 21:06] lmerriam commented on #145
@Graydyn last time we talked you said you had an idea for an improved algorithm (I think it was after we looked at this paper on financial analysis). Super curious about what you're thinking!

@espowell here's where we're doing most of the discussion about trackable (ie symptoms, treatments, food, weather, etc that people log in FD) effects on symptoms. I believe that you could substitute tags for

[2017-01-25 11:31] mpugach opened #166 "Chart labels are cut on wide screens"
![flaredown 2017-01-25 13-29-27](https://cloud.githubusercontent.com/assets/426179/22289107/94e8c54e-e302-11e6-89f8-19a722122e7f.jpg)

[2017-01-26 08:48] #36 closed, assigned to safeforge, mpugach

[2017-01-26 08:48] #164 closed, assigned to mpugach

[2017-01-26 08:48] #166 closed, assigned to mpugach

[2017-01-26 14:04] mpugach commented on #35
@lmerriam check on staging

currently it uses cache only if user has enough checkins to cover visible range

[2017-01-26 14:08] mpugach opened #168 "show all charts checked in the filter even if there is no data"

[2017-01-26 15:51] lmerriam commented on #168
Max: after playing around with charts we may need to tweak this behavior further. I will clarify today.

[2017-01-26 21:49] lmerriam commented on #35
Thanks Max! It seems to be working well, could you clarify exactly what you meant here:

[2017-01-27 04:07] mpugach commented on #35
If the earliest checkin date is greater than visible start date then API call is preformed again. Same on other edge

[2017-01-27 04:24] mpugach commented on #35
but the API calls are made with some room, so it tries to fetch more then visible

you can open the network tab in developer tools an play with it

the call look like this

![flaredown 2017-01-27 06-21-55](https://cloud.githubusercontent.com/assets/426179/22360535/3833e3da-e459-11e6-9a85-65af25f5d10a.jpg)

[2017-01-27 06:23] lmerriam commented on #35
Gotcha, sounds good.

One thing I should have been more explicit about:

As part of caching I was hoping we could save the user's position and visible trackables in the history. So that if I switch to the check-in, then switch back the the history, I'll return to the same position with the same visible charts and we won't have to reload any data (plus user gets the benefit of not losing their sett

[2017-01-27 06:48] lmerriam commented on #168
Ok, so I think this is the correct functionality.

1. When user first loads the history, it should default to showing only charts that are present in the currently visible time period.

2. If the user makes a particular chart visible and then navigates to a time when it is not present on their check-in, we should ideally show that the chart is empty with a light grey message that says "No data in

[2017-01-27 06:50] lmerriam commented on #168
Do you think it would be helpful to put a button at the bottom of the history that says "show all charts in this time period" when there are hidden charts?

[2017-01-27 08:39] mpugach commented on #35
I think it is.

[2017-01-27 08:45] mpugach commented on #168
I think the button worth of separate issue

[2017-01-27 10:05] mpugach commented on #168
Ok, will implement 1 and 2

[2017-01-27 13:12] mpugach commented on #35
deployed to staging

[2017-01-27 13:24] mpugach commented on #168
but it is not super easy though

[2017-01-27 15:26] lmerriam commented on #168
Do you have a general estimate?

[2017-01-27 15:27] lmerriam commented on #35
Works fantastic for me!

[2017-01-27 15:32] mpugach commented on #168
end of the monday

edit: but on this monday we have a day off, so next day )

[2017-01-27 18:15] lmerriam commented on #168
#2 is less important. If it takes more than a few hrs then we should spend time on more important things first.

[2017-01-28 02:22] lmerriam opened #169 "Charts do not display on Android"
I can load the Flaredown app on both of my android phones (nexus 6p and nexus 5) but I cannot view the charts -- they are simply blank. If I open the website in the chrome browser on the same phones it works with no issues.

This appeared after the updates that added filtering.

![screenshot_20170127-211609](https://cloud.githubusercontent.com/assets/1657444/22393584/0c89e6ca-e4d7-11e6-80ce-3cc95e

[2017-01-28 20:53] thunter1000 commented on #169
Logan mentioned the issue and pointed out the solution on [stackoverflow](http://stackoverflow.com/questions/5899087/android-webview-localstorage/5934650#5934650). The issue was with the android application not allowing localstorage, which the graph relied on.

localstorage has now been enabled and a update has been published to the google playstore, which should be live within the next hour or so

[2017-01-29 06:37] lmerriam opened #170 "Data pull for researchers"
Can we do a data pull including:
1. All trackables -- weather and food were not included in the last one
2. Obfuscated user_id such that we can post the file in a public repo without compromising security

[2017-01-31 01:45] lmerriam opened #171 "Discussions page"
Users need an effective way to discover posts that are relevant to them. In our system users can follow trackables (we'll call them "topics" in the context of the discussion section) and they will see all posts tagged with those topics on the top-level discussion page.

<img width="658" alt="screenshot 2017-01-30 20 11 20" src="https://cloud.githubusercontent.com/assets/1657444/22448568/47d7b04c-e

[2017-01-31 02:18] lmerriam opened #172 "Profile page"
This will probably turn into a more traditional profile eventually, but for now users just need to be able to view their post history, so they can find conversations they have created or participated in.

<img width="707" alt="screenshot 2017-01-30 20 56 34" src="https://cloud.githubusercontent.com/assets/1657444/22449499/9ee51cb6-e72e-11e6-8a7e-0d5e4ae20678.png">

- [x] Show a list of the posts a

[2017-01-31 03:08] lmerriam opened #173 "New post page"
Users need to be able to create new posts so they can ask questions, share experiences, and support other users.

<img width="716" alt="screenshot 2017-01-30 22 05 53" src="https://cloud.githubusercontent.com/assets/1657444/22450949/4e4b8f06-e738-11e6-8753-930e969bcc07.png">

- [x] Input for the title of the post
- [x] Input for user's message
- [x] User can select topics via our standard autocomp

[2017-01-31 03:31] lmerriam opened #174 "Topic page"
Users will often want to view posts about a specific topic. In Flaredown those topics are trackables -- conditions, symptoms, treatments, tags, weather, food and new ones we add in the future.

<img width="327" alt="screenshot 2017-01-30 22 25 44" src="https://cloud.githubusercontent.com/assets/1657444/22451308/76619398-e73b-11e6-9b20-6ceb4fdde43d.png">

- [x] List the posts tagged with that topic

[2017-01-31 03:55] lmerriam opened #175 "Post page"
The post page allows users to view a post, see comments other user have left on the post, leave your own comment, and react to the post and it's comments with emoticons.

<img width="308" alt="screenshot 2017-01-30 22 51 51" src="https://cloud.githubusercontent.com/assets/1657444/22451721/cd42ce72-e73e-11e6-8f8a-1723c926088d.png">

- [x] Show the title and message of the post
- [x] List the commen

[2017-01-31 07:35] #35 closed, assigned to safeforge, mpugach

[2017-01-31 07:56] mpugach opened #177 "Mongo performance optimization"
Hello from mLab,

We are sending this weekly performance report for rs-ds011980 (heroku_vdwtrn6s) because we identified slow operations running on this deployment that could benefit from improved indexing.

In particular, we'd like to call your attention to these:

**collection**
heroku_vdwtrn6s.checkin_treatments
**querycommand**
```{"is_taken": "<val>", "treatment_id": "<val>", "value": {"$optio

[2017-01-31 09:53] mpugach commented on #170
here it is [export_2017.01.31.csv.gz](https://github.com/Flaredown/FlaredownEmber-2/files/741575/export_2017.01.31.csv.gz)

I reduced the number of SQL requests now it took about 25 minutes (prev export took more than an hour) to export ~40k checkins, although we added foods and weathers.

[2017-01-31 15:47] mpugach commented on #168
deployed to staging but spotted a bug - after adding new treatment, the chart appears, but it is empty until date change

also it is hard to determine the chart color (for blank charts) while there is no trackables data

[2017-02-02 03:49] lmerriam opened #180 "Push notifications [INCOMPLETE]"

[2017-02-02 03:59] lmerriam commented on #170
Nice work! Closing

[2017-02-02 03:59] #170 closed, assigned to mpugach

[2017-02-02 04:00] lmerriam commented on #169
Fixed by @thunter1000

[2017-02-02 04:00] #169 closed, assigned to thunter1000

[2017-02-02 11:55] mpugach opened #181 "no color is set for trackable when it is added from summary screen"
but works fine for step by step checkin

[2017-02-02 12:06] mpugach opened #182 "Change summary page"
Extracted from #139 and depends on it

This is a better way of handling the same problem that the summary page was initially designed for, so we should revert the summary page to a standard section layout and remove all trackables except for Weather from the page (the user can now access them quickly via the new navigation)

![f72e27bc-db1e-11e6-91a8-3ea3eca3f698](https://cloud.githubusercontent.c

[2017-02-02 12:11] mpugach commented on #181
maybe it should not be even fixed because of #182, need to investigate later

[2017-02-04 01:57] lmerriam opened #185 "Downloading blank data"
When using the "download my data" feature, the CSV contains only the following headings, with no data:
`Date,Tags,Foods`

[2017-02-07 05:20] lmerriam commented on #145
@mpugach if we forget about setting up a python environment for this first version, can you estimate a very simple version of this based on this formula:

(average symptom activity on days when the treatment is taken) - (average symptom activity on days when the treatment is not taken) = effect of treatment

We would run this on every combination of condition/symptom vs every other trackable type.

[2017-02-07 09:38] #139 closed, assigned to mpugach

[2017-02-07 09:38] #168 closed, assigned to mpugach

[2017-02-07 09:38] #182 closed, assigned to mpugach

[2017-02-07 09:38] #185 closed, assigned to mpugach

[2017-02-07 10:49] mpugach commented on #145
How should we compute the effect of weather?
We know when the user does not take his treatment, because he is tracking it. But what about food?

Can you provide an example please?

[2017-02-07 11:06] mpugach commented on #173
~~Are the tags the same with checkin tags?~~
oh it's conditions and treatments, right?

[2017-02-07 11:06] mpugach commented on #173
To implement auto topic, we need to implement some AI. It is about NLP. I know some theory (from NN Coursera course) but it's better to engage a colleague of mine. He worked for [Grammarly](http://grammarly.com) in the past.

This should be a separate task

[2017-02-07 16:22] lmerriam commented on #145
Will get back to you on this, but I talked with graydyn about it and it's simple correlation math. However, maybe we should start with just treatments/tags/food for now?

Good question. For now this is a dumb algorithm that assumes the logging is complete and we will make that clear to the user so they can interpret the data appropriately. An upgraded version of this algorithm (mentioned in a comm

[2017-02-07 16:26] lmerriam commented on #173
We will consider the NLP as a future enhancement.

[2017-02-07 16:27] lmerriam commented on #173
oh it's conditions and treatments, right?

Yes! All trackables in fact, unless there are technical limitations.

[2017-02-07 21:40] espowell commented on #145
For tracking food- It seems like the easiest route right now is to use tags to indicate nutrients of interest. Most people who are tracking diet for chronic diseases are concerned about specific nutrients or items- dairy, caffeine, red meat, etc- and know when they've eaten it. If we want more complex ways of tracking diet I'm happy to discuss that!

For both food, and other things logged- assumin

[2017-02-08 10:10] mpugach opened #187 "History - Journal: Add search"
![dc455b96-db23-11e6-8acf-aa42e8acac7e](https://cloud.githubusercontent.com/assets/426179/22732625/7f818e66-edf7-11e6-9615-8a88e911e00a.png)

- [ ] Use the "search" box to filter the visible list of journal entries to only those that contain the search string. Don't search until user has entered a few characters
- [ ] Bold relevant text strings when in a search
- [ ] Clear the search box with the

[2017-02-08 11:47] mpugach commented on #181
no fix needed since summary screen does not have trackables now

[2017-02-08 11:47] #181 closed, assigned to nobody

[2017-02-08 11:54] mpugach commented on #112
do not see the `/genome` endpoint

what should trigger a data fetch from the service?

as I understand, we should place it on FD landing page, but I can't find it in the project. Is it another project?

[2017-02-08 15:09] Graydyn commented on #145
Personally I don't see a reason to treat food or weather as different from any other tag.  If people want to tag certain nutrients than they are free to do so.  Many of them already track gluten.

Linear regression is computational cheap but I'm not clear on what you're trying to accomplish with it.
About the confounding issue, if a user always uses the same treatments on the same day, certainty a

[2017-02-08 16:20] lmerriam commented on #145
Awesome points being made. We're currently discussing this as if it were one component of Flaredown, but I believe we can actually split it into two different flows:

For the _daily checkin_ stuff, I don't know that we'll ever get to super confidence on tags/foods. That's necessitated by the fact that tags/food can be different every day -- we can't keep them on users' check-ins forever because it

[2017-02-08 16:52] lmerriam commented on #155
@mpugach this looks fantastic!

Just a few things I did not properly specify:

- [x] Show only days that have journal entries
- [x] Show empty state if the user has no journal entries: "No journal entries yet"
- [x] When caching history, save whether it is showing charts or journal so if I switch to another page I come back to the same view of the history.

[2017-02-08 17:08] espowell commented on #145
I think that's a great idea! That way we won't clog up threads.

@Graydyn I'll definitely check out the recommender_system - Sounds like a great add, especially for newer users who might not have a lot of data logged.

The more we talk this through, the more I realize that calculating over a longer time frame would be helpful for getting more accurate estimates. Could we add a 1 month or 3 months

[2017-02-08 17:13] lmerriam commented on #162
If this is 16 hrs of work, we may need to come up with an easier design. Will this be easier if the scrubber does not overlap all charts and simply shows a button on the specific chart that was tapped?

[2017-02-08 17:33] mpugach commented on #162
I think it will

[2017-02-09 04:27] lmerriam commented on #129
Closing in favor of journal view

[2017-02-09 04:27] #129 closed, assigned to nobody

[2017-02-09 04:30] lmerriam opened #188 "Updated chart hide/show controls"
The modal window is a poor way to hide/show tags and food.

<img width="398" alt="screenshot 2017-02-08 23 25 52" src="https://cloud.githubusercontent.com/assets/1657444/22769407/56b3fc94-ee56-11e6-86ea-ceb665c27217.png">

- [x] "Hide" buttons above charts
- [x] "Add a chart" searches through all the user's trackables, on selecting it should be made visible

[2017-02-09 04:32] lmerriam commented on #132
@mpugach is this issue complete?

[2017-02-09 04:37] mpugach commented on #188
and disappear from dropdown suggestions, right?

[2017-02-09 04:40] lmerriam commented on #188
Yes! Or it can be greyed-out. Whichever is easier.

[2017-02-09 08:20] mpugach commented on #132
yes it is

[2017-02-09 08:20] #132 closed, assigned to nobody

[2017-02-09 11:56] mpugach opened #190 "Auto logout triggered by accessing non global trackables owned by other user"
Found a strange behaviour while was playing with #155 on staging.

One checkin had a treatment with `global: false` attribute and relation to other user in `UserTreatment` table.

The authorization currently configured to deny access to such treatments.
The frontend authorization library logs me out avery time it receives 401 from backend.

It means I cant access journals and treatment page of tha

[2017-02-09 22:01] lmerriam commented on #190
I am unaware of the purpose of the `global` attribute. @algodave @safeforge do you know what it is used for?

[2017-02-10 03:57] lmerriam commented on #112
@mpugach it appears the API has changed. However 23andMe allows users download a `txt` file with all of their data. If we can provide a way for users to upload that file (tagged with their user_id so it can be connected to the user's health data from our CSV data dumps) then our researchers can use it.

If you can get a blank page up that just has an uploader, I can fill it out with the content ne

[2017-02-10 05:16] mpugach commented on #112
should we parse or just store it?

[2017-02-10 12:59] lmerriam commented on #112
Only store it

[2017-02-10 14:37] mpugach commented on #155
@lmerriam see it on staging again

[2017-02-10 14:39] mpugach commented on #112
then we need Amazon S3, can you register the account and provide the bucket details in private please?

[2017-02-10 16:00] lmerriam commented on #155
👍 looks great!

[2017-02-13 08:44] #155 closed, assigned to mpugach

[2017-02-13 15:12] mpugach commented on #188
@lmerriam check please

[2017-02-13 15:17] mpugach commented on #112
what is the average size of those files?

[2017-02-13 21:54] lmerriam commented on #188
Works well! Let's add tags next

[2017-02-14 04:28] lmerriam commented on #112
It downloads as a `.zip` around 5.7mb. Unzipped it's 15mb. We could urge them to upload the compressed file.

We won't get many of these, would be lucky to get 10 or 20.

[2017-02-14 08:33] #188 closed, assigned to mpugach

[2017-02-14 14:49] mpugach commented on #114
@lmerriam check please

[2017-02-14 16:14] lmerriam commented on #114
Seems to work well! I had to refresh to get it to recognize tags, but maybe the site was just cached.

[2017-02-14 16:15] lmerriam opened #193 "Food in history"
Same as tags.

Any trackable that we add to Flaredown should be visible in the history.

[2017-02-15 05:14] lmerriam commented on #157
@mpugach this is top priority! Please let me know if you have questions or want to split this task up.

[2017-02-15 07:07] mpugach commented on #157
1. we show the survey only if user tracks Crohn's Disease, right?
2. do we show our regular Crohn's Disease condition widget on everyday checkin?
3. how should checkin bottom navigation behave? I mean should the survey have own step or is it conditions step?
4. is the priority is higher then foods chart?

[2017-02-15 07:11] mpugach commented on #157
5. Should we save user input before he hits "calculate"? We can save in local storage (per browser).

[2017-02-15 07:13] mpugach commented on #157
6. Our charts are daily, how should we display weekly info?

[2017-02-15 07:25] #114 closed, assigned to mpugach

[2017-02-15 16:31] lmerriam commented on #157
1. Correct!
2. Yes, this won't override anything
3. This should be a section like other sections of the check-in, right before the summary. See wireframe below.
4. You can do these tasks in the order you prefer. If you want to close out the history stuff before moving to this, that's ok!
5. Yes I think we should save the answers like other trackables and
6. It should still be part of a daily check

[2017-02-15 16:47] lmerriam commented on #157
FYI we will almost certainly have more surveys like this in the future, which will have the following properties:

- Delivered to a specific subset of users based on their trackables and/or demographic information
- An interval (daily, every 7 days, every 30 days, etc)
- A set of questions each with an input type that the user can respond with
- Some surveys will generate a score like the Harvey B

[2017-02-16 12:24] mpugach commented on #193
@lmerriam take a look please

[2017-02-16 19:30] lmerriam commented on #193
Works great! Let's deploy

[2017-02-17 10:05] #193 closed, assigned to mpugach

[2017-02-19 19:33] lmerriam opened #196 "Signup captcha verification resets secretly"
If the user successfully verifies their captcha, but has to fix another error in the signup form, their captcha verification will be reset (without telling the user) and they will have to redo it. This occurs almost every time a user messes up any signup field, which is very often.

Ideally once they verify by captcha they should not have to do it again, but if it must reset it should at least ale

[2017-02-19 19:41] lmerriam opened #197 "reCaptcha not properly implemented"
ReCaptcha should allow users to simply click a checkbox:
<img width="420" alt="screenshot 2017-02-19 14 38 44" src="https://cloud.githubusercontent.com/assets/1657444/23105699/26a2f588-f6b1-11e6-8546-f66bfeb78970.png">

However on our site, no matter the browser the user is using, it always shows the manual option:
<img width="407" alt="screenshot 2017-02-19 14 39 41" src="https://cloud.githubuser

[2017-02-21 16:26] mpugach commented on #157
@lmerriam it is still in progress, but you can play with it on staging

todo:
- apply weekly rules
- show on charts
- fix "next" button labels for Health Factors and HBI

[2017-02-22 04:51] lmerriam commented on #157
Looking really good so far! I'll try to style the calculated score card tomorrow if I get a chance, I know I only sent wireframes before.

[2017-02-22 10:57] mpugach commented on #157
Can we place HBI step before Health Factors? Don't want to implement extra mess with dynamic "next" button label.

[2017-02-22 11:48] lmerriam commented on #157
Even better, we can just remove the "review" button and use "next" for all sections except the last one. Since we no longer have a summary, we don't need to "review" anything.

[2017-02-22 17:01] mpugach commented on #157
deployed to staging and removed old HBI data

[2017-02-23 08:43] mpugach opened #198 "decrease data processed on client and backend to show charts"
Currently no matter what charts are visible all data is fetched anyway.

In the future it may come a performance issue.

[2017-02-23 14:27] mpugach commented on #157
@lmerriam take a look please

[2017-02-24 05:10] lmerriam commented on #198
Excellent point, we should absolutely do this, it is already a problem for some users who say the history freezes or takes too long to load (some people have over a hundred trackables)

[2017-02-24 16:23] mpugach commented on #198
The main point of the issue is to decrease the data is being serialized on backend, passed through network, desirialized on client and participated in computations.

After closer look I thought it may be easier to implement some filters query params with same API requests.

Will pick what suits better.

[2017-02-24 16:58] mpugach commented on #157
@lmerriam  I spent some efforts trying to make the HBI chart grid look nice. It is dynamic. Since we have no editing feature here are some screenshots for you:

![flaredown 2017-02-24 18-47-12](https://cloud.githubusercontent.com/assets/426179/23312587/fd5fa2b4-fac2-11e6-9719-3fb44b1834ad.jpg)
![flaredown 2017-02-24 18-48-13](https://cloud.githubusercontent.com/assets/426179/23312602/054519fa-fac3

[2017-02-24 17:12] lmerriam commented on #157
Really nice, max!

[2017-02-24 17:12] lmerriam commented on #157
Is this same logic usable for other graph with a dynamic range?

[2017-02-24 17:13] mpugach commented on #157
no, others have fixed rulers count

[2017-02-24 17:13] mpugach commented on #157
but here it is strange to see decimal rulers

[2017-02-28 04:03] lmerriam opened #200 "Charts show old trackables"
When I use a new device or browser and my history loads up, I see many trackables that I am not currently tracking. We should show only the trackables on the user's current check-in.

I believe there is a "user settings" object that keeps track of current trackables? That should be the list that the app defaults to when there are no cached chart settings.

[2017-02-28 04:30] lmerriam opened #201 "Scroll to top when routing"
When the app routes it preserves scroll position. This means that when navigating between pages the user is often dropped into the middle of the next page.

This is the ideal scroll-to-top behavior, because it still preserves scroll position when using browser history: https://github.com/dollarshaveclub/ember-router-scroll

[2017-03-01 09:14] mpugach commented on #157
@lmerriam are you sure we want long label here?
![flaredown 2017-03-01 11-12-10](https://cloud.githubusercontent.com/assets/426179/23453198/113efefa-fe70-11e6-9385-3e577014ed03.jpg)

[2017-03-01 12:44] lmerriam commented on #157
No, I missed that! Maybe best to show score there, I am concerned if we show simply "remission" it could be considered medical advice. I made those labels longer mainly for the score screen to try to clarify that they are simply outputs of the HBI

[2017-03-01 13:47] mpugach commented on #198
@lmerriam check on staging please

[2017-03-01 18:30] lmerriam commented on #198
The charts seem to work great! Of course I can't test performance on the backend but it sounds like this reduces API calls significantly?

#200 is a separate issue, correct?

[2017-03-01 20:57] mpugach commented on #201
see on stage

[2017-03-01 21:06] lmerriam commented on #201
Working for me!

[2017-03-01 22:14] mpugach commented on #198
It reduces a huge payload of one API call (charts), for a user with many trackings and only few charts
also it saves charts computation on client in his case, since there is less data to process

it saves several double calls and removes one call completely (profile now is included into user)

on backend it also vary from scoped DB requests to no requests at all
and it serializes less data into JS

[2017-03-01 22:21] lmerriam commented on #198
I am all for optimization when needed! Both for performance and because I don't want you to burn out on a codebase that is hard to work with. Let me know when you see something that you judge to be in need of optimization and we'll figure out if/when to do it.

Unfortunately this will likely be a permanent requirement so that we can store identifiable data separately from health data.

[2017-03-02 09:08] #157 closed, assigned to mpugach

[2017-03-02 09:08] #196 closed, assigned to mpugach

[2017-03-02 09:08] #198 closed, assigned to mpugach

[2017-03-02 09:08] #201 closed, assigned to mpugach

[2017-03-02 09:11] mpugach opened #205 "Eliminate separate localization tables to prevent JOINs and N+1s"
Use something like https://github.com/Leadformance/hstore_translate instead of `globalizer`

[2017-03-02 09:24] mpugach opened #206 "API documentation and tests"
[apitome](https://github.com/jejacks0n/apitome) generates documentation

the side effect - the API gets covered by tests

then it can be used by mobile and frontend developers

[2017-03-02 09:41] mpugach opened #207 "upgrade to Rails 5.1 when it is released (currently beta)"
depends on #206

[2017-03-02 15:38] mpugach opened #208 "Chart visualization is duplicated for tags and foods"
![flaredown 2017-03-02 17-36-00](https://cloud.githubusercontent.com/assets/426179/23514137/03496e70-ff6f-11e6-8906-b02094471bfe.jpg)

[2017-03-03 10:51] #208 closed, assigned to mpugach

[2017-03-03 16:37] mpugach commented on #200
see the staging

if user loads charts on new device the charts for old trackables are hidden by default

this does not applies to foods and tags, because we can't be sure the user does not track them enymore

to check this, drop the cache in devtools console `localStorage.removeItem('chartsVisibilityV2')`

what is the next priority?

[2017-03-03 16:38] lmerriam commented on #200
Works for me!

[2017-03-03 16:43] lmerriam commented on #200
Regarding food and tags: I was expecting that and I believe it actually improves the experience. Tags and foods can easily crowd out the chart so it is better to have the user intentionally turn them on.

[2017-03-03 17:00] mpugach commented on #200
pushed to staging

[2017-03-06 04:54] lmerriam opened #211 "Chronic illness oracle"
We want to use the "diagnosing" algorithm Graydyn created, and continue to train it. We also want to get the word out about Flaredown. The "chronic illness oracle" is a shareable experiment that analyzes users' symptoms and provides a list of possible conditions they might come from. It is intended to be used without a Flaredown account and therefore needs to be accessible by unauthenticated users

[2017-03-06 06:39] mpugach commented on #211
what is the API?
should we share the results or base link only?

[2017-03-06 11:12] lmerriam commented on #200
Ready to deploy

[2017-03-06 13:27] lmerriam commented on #211
@Graydyn can you post API here when ready?

@mpugach sharing the results would be ideal. I was worried that might be complicated and require us to save static result pages, but could it be as simple as a URL parameter?

If sharing results is feasible, I will update mockups with a button to "start over" so that users that follow share links can try the oracle for themselves.

[2017-03-06 13:30] lmerriam commented on #197
Closing, seems fixed by changing settings

[2017-03-06 13:30] #197 closed, assigned to nobody

[2017-03-06 14:00] Graydyn commented on #211
Hi Guys,

You don't really need to credit me directly on the page.  Thanks for the thought though.
I can't really use height and weight, as we don't have the info for all the users that I trained on.  Could be nice for a future release.
Yup I'll include confidence interval.

Should have some swagger docs ready in a couple days.

[2017-03-06 21:12] mpugach commented on #211
@lmerriam it could be URL parameters.

It seems logical for me to run it as a separate service. Like a frontend for @Graydyn`s API. Do you want it to be built in FlaredownEmber-2? We could start another project for this if you like.

Do you plan another domain?

[2017-03-07 05:11] lmerriam commented on #211
It is definitely a separate experiment, which would make sense in its own domain or a subdomain of flaredown.com. But I also was thinking that this flow uses some of the components from the main Flaredown app like the power select with autocomplete and adding symptoms, so if it's easier to make it part of FlaredownEmber-2 then we should do that. If not then a separate ember app is fine.

This is i

[2017-03-07 08:47] #200 closed, assigned to mpugach

[2017-03-07 16:40] mpugach commented on #211
building it into same project to reuse general styles, some models and mixins

[2017-03-08 05:34] lmerriam commented on #211
@mpugach another thought: how much effort would it be to pass the information the user has already entered (age, sex, country, symptoms and the conditions list after they have corrected it) to the signup flow? Because they have already entered a lot of information, this might be a super easy way to sign users up. We could provide a button that would take the user into account creation with all thi

[2017-03-08 08:54] mpugach commented on #211
That is a great idea!
It is feasible and should take several hours.

[2017-03-08 15:34] mpugach commented on #211
hi @Graydyn, so are there some API docs?

[2017-03-08 17:30] Graydyn commented on #211
Sorry for the delay Maksym.  I'll try and have the docs up tomorrow morning.

[2017-03-09 05:55] lmerriam commented on #211
@mpugach also could we do an export of the latest data for Graydyn so he has the most up to date dataset?

[2017-03-09 06:11] lmerriam commented on #211
Updated mock of the results screen:
![fd_chronic_illness_results](https://cloud.githubusercontent.com/assets/1657444/23738085/fabf9d06-0464-11e7-8da7-e0982011b037.png)

How will sharing work from the mobile app? We should test to make sure it opens the correct app or website.

[2017-03-09 12:34] mpugach commented on #172
need the bottom navbar icon

[2017-03-09 14:24] Graydyn commented on #211
Here is the API/doc:
http://34.207.197.147:5000/#!/default/post_generic

It's on my lightsail.  Should be good to use in prod as long as we aren't exceeding something to the tune of 20000 requests per month.  Let me know if you start having performance issues.

If you have any requests for changes to the contract or json let me know.  Algorithm has some bugs that I'm working on still, so don't wor

[2017-03-09 14:37] mpugach commented on #211
Thank you.

I have to see the API to understand how to go on with frontend. Then Logan will have to help with styles.

I thought it could take a day if there will be no questions. Hard to say need to dive in.

For some reason there is "This site can’t be reached" can you check?

[2017-03-09 14:43] Graydyn commented on #211
Oops, sorry about that.  Looks OK now, give it a try.  Let me know if that happens again, I haven't been using lightsail for long so I tend to break things when I make changes.

[2017-03-09 15:31] mpugach commented on #211
Ok, I can see it, thank you

[2017-03-09 15:54] mpugach commented on #211
is there an endpoint to provide user's feedback (learning)?

[2017-03-09 15:59] Graydyn commented on #211
Nope, you're going to need to store that feedback somewhere.  The API is driven by occasional CSV dumps.  So it's parameters are only updated when a new dump gets sent out.

[2017-03-09 16:08] mpugach commented on #211
So I need to store user input and feedback. Should I store API response?

[2017-03-09 16:10] Graydyn commented on #211
I don't see why you would.  Unless you're allowing the user to save the results or something.

[2017-03-09 16:19] mpugach commented on #211
I want to save only that data what is needed for your further analysis and trying to understand what it is.

[2017-03-09 16:21] Graydyn commented on #211
I see.  Nope I don't need the results, user's input and feedback is good.

[2017-03-10 05:25] lmerriam opened #213 "Health profile [IN PROGRESS]"
Users want to edit their current set of trackables or delete a trackables entirely. They also want to be able to share their current set of trackables to show doctors and friends what they are dealing with.

![Uploading Screenshot 2017-03-24 23.36.06.png…]()

- [ ] Replace "settings" with "profile" in navbar
[Consider whether this should go in history instead]
- [ ] Move settings to section of pro

[2017-03-10 11:10] mpugach commented on #211
@Graydyn do we need user country? It is present on @lmerriam pictures but do not see it in the API docs

[2017-03-10 12:59] mpugach commented on #211
@Graydyn could you please set `Access-Control-Allow-Origin: *` header for OPTIONS response? Can't make API request from browser without it.

[2017-03-10 15:43] Graydyn commented on #211
No need to pass me country, it didn't help in the predictions so I'm no longer using it.
I just added that header and pushed latest.  Let me know how it goes.

[2017-03-10 15:53] mpugach commented on #211
Thank you it works now.

But the response body contains string instead of JSON:
```"[{\"confidence\": 74.620718162982527, \"name\": \"Asthma\"}, {\"confidence\": 95.745563106361203, \"name\": \"Crohn's disease\"}, {\"confidence\": 99.842699734806388, \"name\": \"Menorrhagia\"}]"```

should be:

```[{"confidence": 74.620718162982527, "name": "Asthma"}, {"confidence": 95.745563106361203, "name": "Cr

[2017-03-10 15:53] mpugach commented on #211
@lmerriam should we remove country?

[2017-03-10 16:43] lmerriam commented on #211
Yep, no need to ask for it if it's not necessary for the API. We can wait until the user decides they want to sign up.

Very interesting that that is the case! I was wondering whether certain countries tended toward certain conditions or reported differently. Sounds like even if there aren't differences they must not be dramatic.

[2017-03-10 18:13] Graydyn commented on #211
Ya, I expected the country of origin to have more of an impact, and it still might in the future.  I think maybe since it's mostly USA, Canada, Australia, Great Britain, maybe these countries have similar sorts of conditions.
This just got me thinking about how chronic illness in general seems to be associated with first world countries.  I wonder if there is something to that.

[2017-03-10 18:14] Graydyn commented on #211
Oh, I just fixed the json formatting.

[2017-03-10 19:04] lmerriam commented on #211
Dude _definitely_. In fact it's a known thing, we just don't necessarily know why. Theres diet, caloric intake, cleanliness, activity level, sleep schedule, etc etc. Would be really cool if we could scrutinize this stuff, but tough to do since everyone on our platform is thoroughly first-world.

[2017-03-12 00:17] lmerriam opened #214 "Move saving indicator in check-in"
Move the saving indicator immediately above the Next/Back buttons because people have most likely made changes to the trackables when they are at the bottom of the page, so the status is more relevant there.

[2017-03-12 16:26] lmerriam opened #215 "Users unable to load charts"
Charts "loading forever" last few days. It seems to be per account, as users who have this problem report it on both their phone and their computer. Maybe related to recent chart optimization work?

@mpugach I will send emails of affected user accounts to you privately for inspection.

[2017-03-12 16:42] lmerriam opened #216 "Try out product analytics platforms"
I would like to trial a few analytics platforms and pick the one that works best for Flaredown. If it won't cause performance trouble, I'd like to try them out at the same time. Otherwise we could swap them out one by one.

The services I'm interested in are:
Heap
Mixpanel
Amplitude

I have created accounts and will forward install info.

[2017-03-12 17:05] lmerriam opened #217 "Emojis in journal"
Emoji are a great way for people to express themselves with text. We're illustrating a set of custom chronic illness emoji for the upcoming discussion, and I would like to give users the ability to add them to their journal entries as well.

I am open to suggestions for UI as there may be a good solution out there already so that we don't have to build a custom one. Of course, it needs to be mobil

[2017-03-12 21:19] lmerriam commented on #215
Screenshot from one user:
![image](https://cloud.githubusercontent.com/assets/1657444/23836047/0f570f02-0748-11e7-8914-09b4374dfaf2.png)

[2017-03-13 14:19] mpugach commented on #215
need to verify it is fixed (for me it is)

[2017-03-13 14:40] lmerriam commented on #215
@mpugach I will ask the users who reported it to check

[2017-03-13 15:29] mpugach commented on #216
Heap is deployed

Is API key == Secret key for Amplitude?
![projects - amplitude 2017-03-13 17-28-15](https://cloud.githubusercontent.com/assets/426179/23861376/859e6d52-0812-11e7-887f-3fc3d27fa470.jpg)

Got invitation to Mixpanel but do not see the project

[2017-03-14 01:54] lmerriam opened #220 "Country and gender select inputs"
On mobile devices (reported on both android and iOS) tapping on these inputs instantly opens and closes the dropdown. The user doesn't get a chance to select an option. You can see this both in onboarding and in Settings.

[2017-03-14 08:42] mpugach commented on #216
Amplitude is on prod, but we need to track something

[2017-03-14 13:42] mpugach commented on #220
seems to be fixed for country

failed to reproduce for gender, it is radioboxes

[2017-03-14 13:45] mpugach opened #223 "missing texts on mobile"
For steps and step selector

Desktop
![flaredown 2017-03-14 15-38-50](https://cloud.githubusercontent.com/assets/426179/23903416/2254444a-08cd-11e7-8e9b-73ade11d75d3.jpg)

Mobile
![screenshot_20170314-153454](https://cloud.githubusercontent.com/assets/426179/23903430/30377802-08cd-11e7-9520-df7be8f4f2d1.png)

[2017-03-14 23:56] lmerriam commented on #220
Wow of course. I don't know what the last user was talking about honestly. The power-select component is working now!

[2017-03-14 23:56] #220 closed, assigned to mpugach

[2017-03-14 23:57] lmerriam commented on #215
According to one user who reported, it is fixed. I am closing for now unless one of the others responds to the contrary.

[2017-03-14 23:57] #215 closed, assigned to mpugach

[2017-03-15 10:50] mpugach commented on #223
fixed

[2017-03-15 10:50] #223 closed, assigned to mpugach

[2017-03-15 10:51] mpugach commented on #216
@lmerriam check the amplitude events on production

[2017-03-15 11:04] mpugach commented on #211
@Graydyn thank you

[2017-03-16 15:50] mpugach commented on #211
@lmerriam my previous statement about URL parameters was wrong, since API only able to guess conditions and not capable to store feedback, we need to store the results to our DB

besides other things (unchecked boxes in the issue) we need to implement the followng:

- [ ] mark the anonymous which provides feedback to distinguish him from others who will see shared link in order to prevent them to

[2017-03-16 16:31] lmerriam commented on #216
@mpugach I see them! When adding/removing trackables can we set the Type and Name as `properties`? I believe Amplitude allows that but let me know if not. The issue is that right now every new trackable added is a brand new event because they are uniquely named. Ideally they should be just "Add trackable" or "Remove trackable" events with properties.

[2017-03-16 16:31] lmerriam commented on #216
Can we easily send the same events to mixpanel and heap?

[2017-03-17 15:55] mpugach commented on #211
@lmerriam  check the staging "/oracle"
- you have to be logged out, some issue with userengage
- tumblr button is not in place yet, their script does not work just by copy pasting
- anyone can make corrections to conditions if they have url for now
- you wrote I can leave some CSS for you

[2017-03-19 00:38] Graydyn commented on #211
I've got the API working in a way that I'm happy enough with it to call it in beta.  Feel free to start using it in the app whenever you like, but warn me before going live and please try to avoid going live during the month of April as I'll be out of town.

If it doesn't recognize the symptoms listed it returns an empty array so make sure you handle for that.  I limited it to returning five condi

[2017-03-19 23:52] lmerriam commented on #211
@mpugach so cool to see this in action! I will work on styles before deploying. One thing I noticed is that it doesn't seem to offer the full list of symptoms in the database -- I THINK it's only showing the ones we preloaded and none of the user-generated symptoms. Intentional?

Out of curiosity how do you plan to implement the ability to share without letting other users edit the results? Is it

[2017-03-19 23:54] lmerriam commented on #211
@mpugach on mobile the "sex" select input has the same problem as "country" did in onboarding recently. We could also turn it into radio buttons if that's easier.

[2017-03-20 01:04] Graydyn commented on #211
Number of samples to get reliable output varies depending on the variability of the features. So in our case it depends on how consistent the symptoms of that disease are. So for example Sjorgren's(sp?) Is really easy because everybody who has it reports dry mouth and dry eyes. While Crohns or Celiac are trickier because the symptoms vary wildly between patients.  But the cutoff I've set I think a

[2017-03-20 03:54] lmerriam commented on #211
@Graydyn I believe I've seen the same result both before and after last night. Right now if you go to staging it only gives two options for symptoms: `Fatigue` and `Headache`. If you use them they should return a single result, which seems unlikely because those are two super common symptoms. Also @mpugach is it expected that there are only two symptoms available to select on the staging version r

[2017-03-20 12:41] mpugach commented on #211
I'm sorry for missclick

@lmerriam I used the same endpoint for finding symptoms that is used during checkout. The algorithm shows only preloaded symptoms or popular ones. There are 31 symptoms on staging and none of them are preloaded. But `Fatigue` and `Headache` are popular. I guess it was developed so in order to prevent spamming other users with invalid data. But I don't know the story.

"Sex

[2017-03-20 12:49] lmerriam commented on #211
@mpugach yep that system is intended to keep users from seeing weird results that only 1 or 2 other people have ever used. It's supposed to only show items that have been independently added by at least 3 people. But I actually see different symptoms in check-in than I do in the oracle--a greater number are available in the check-in.

The oracle functions OK so I wouldn't want this to turn into a

[2017-03-20 12:58] mpugach commented on #211
The previous message was early submitted while I was switching into the code to verify it. So see updated one.

Are you logged in while asking oracle? I suppose most of the symptoms you are waiting for are owned by your user.

[2017-03-20 13:28] lmerriam commented on #211
@mpugach correct, it looks like the ones I was seeing on my check-in are the symptoms I manually added. Sounds like it's working correctly.

[2017-03-20 16:31] lmerriam commented on #211
@Graydyn given the current structure of this, do you think we'll be able to easily feed the user responses we get back into the algorithm to improve it? Is there anything we should do upfront to make sure that process is easy to do in the future?

[2017-03-20 16:34] Graydyn commented on #211
Don't put to much work into it for now. As long as you can export the data into a CSV like you currently do, I can handle whatever formatting is necessary when the time comes.

[2017-03-20 20:28] lmerriam commented on #211
👍

[2017-03-21 04:55] lmerriam opened #226 "Ask for app store review [IN PROGRESS]"

[2017-03-21 04:57] lmerriam commented on #126
Not sure if this still exists, closing

[2017-03-21 04:57] #126 closed, assigned to nobody

[2017-03-21 14:28] mpugach commented on #211
- fixed for logged in user
- added tumblr share button
- feedback prevention if not an author

deployed to staging

[2017-03-21 15:39] mpugach commented on #216
adjusted and deployed Amplitude

need to dive into Heap and Mixpanel docs for that, will do it tomorrow

[2017-03-22 13:35] mpugach commented on #216
Heap tracks all automagically, see the video to configure events without any code https://vimeo.com/116133473

[2017-03-22 15:04] mpugach commented on #216
Same with mixpanel, can be configured with their GUI

[2017-03-23 10:42] mpugach commented on #95
should we keep the tracked data for statistics since it has no identification?

[2017-03-23 22:34] lmerriam opened #231 ""United States" higher on list of countries during signup"
70% of our users are from the US but they have to scroll all the way to the bottom of the dropdown during signup to select the country. We should move our top countries to the top or allow the user to type.

[2017-03-25 03:37] lmerriam commented on #231
@mpugach I can't figure out where the list of countries is coming from

[2017-03-25 20:16] mpugach commented on #231
I can. Will look closer on Monday

[2017-03-26 18:41] lmerriam commented on #231
Ok, I believe we would mainly want to put the US and UK at the top.

[2017-03-26 20:22] lmerriam opened #233 "Weekly digest email"
Currently we're doing a good job of helping people track and store information, but we aren't doing a great job of giving them feedback on that data. A weekly digest will help remind people to track, as well as give them useful aggregate info about the past week.

If the user checked-in in the past week:
![fd_weekly_digest](https://cloud.githubusercontent.com/assets/1657444/24334853/683f65ee-1240-

[2017-03-27 14:06] mpugach commented on #175
@lmerriam what triggers comment submission?

is this ok?

![flaredown 2017-03-27 17-11-44](https://cloud.githubusercontent.com/assets/426179/24360698/c3123ebc-1310-11e7-9a8f-50abb8cce057.png)

(the green spinner comes from plugin in my browser)

[2017-03-27 18:00] lmerriam commented on #175
👍

[2017-04-03 14:34] mpugach commented on #171
@lmerriam can we move "my topics" to a separate screen? I constantly adding and removing modal logic...

[2017-04-03 14:35] mpugach commented on #172
@lmerriam what icon should we use for navbar?

[2017-04-03 18:13] lmerriam commented on #171
@mpugach sure that works for me

[2017-04-03 18:13] lmerriam commented on #171
Will try to mock it up

[2017-04-04 05:26] mpugach commented on #171
no need to mock, I will move the content into a white box with the title outside of it

[2017-04-04 10:48] #231 closed, assigned to mpugach, lmerriam

[2017-04-05 20:44] lmerriam opened #240 "Onboarding: Add acquisition question"
Analytics platforms don't really tell us the whole story about how users found our service. We should consider adding a question during onboarding to learn more about this.

How did you hear about Flaredown?
- Search on google
- Friend/family told me about it
- Facebook post
- Saw it on mobile app store
- Other

[2017-04-10 02:46] lmerriam opened #241 "Notifications"
It's impossible to carry on a conversation if you don't know that someone has replied. We should notify the user when someone has replied to a topic they posted in the app and externally as well.

<img width="773" alt="screenshot 2017-04-09 22 37 41" src="https://cloud.githubusercontent.com/assets/1657444/24843936/28437be8-1d75-11e7-918d-06fa0b097f10.png">

I should get notifications for:
- Commen

[2017-04-10 03:00] lmerriam opened #242 "Updated navbar icons"
Here is a link: https://www.dropbox.com/sh/qmfbw7ovovgtqa3/AACNqraj87pgCpa1ot459lyKa?dl=0

The SVGs seem to be exporting strangely, but I'm not sure if that's just the mac viewer as the Figma app sees them fine. Let me know if they work, I've included PNGs as a backup.

[2017-04-10 03:14] lmerriam opened #243 "Tagging users in discussion"
To get another user's attention, it helps to have the ability to tag others and notify them that they were mentioned. We want to use the standard methodology.

- [ ] Typing '@' in chat brings up an autocomplete with a list of users participating in the post, which can be selected
- [ ] Tags should be the same color as links
- [ ] Notification: "Lmerriam mentioned you in a comment"

Let me know if

[2017-04-10 08:47] mpugach commented on #242
previous were the same, I asked my colleague to fix them with Adobe Illustrator

downloading the trial now

[2017-04-10 11:44] mpugach commented on #241
how long should we wait to group emails?

[2017-04-10 12:59] lmerriam commented on #241
Maybe 30 min. As I think about it though, let's save that requirement for later and implement it only as-needed.

[2017-04-10 14:31] mpugach commented on #217
EmojiOne is the best and only one emoji picker did not found anything better so far. But it is not customizable.

![emojione frequently asked questions 2017-04-10 17-30-46](https://cloud.githubusercontent.com/assets/426179/24866673/88dd3374-1e13-11e7-8f31-26953a42fbc4.png)

[2017-04-10 21:02] lmerriam commented on #217
@mpugach we definitely need to be able to use our custom emoji. Even if the other options aren't as good, is there one that would allow custom emoji that we could start with?

This script is recently updated and it looks like we could swap out the sprite sheet to customize the images: https://github.com/OneSignal/emoji-picker

[2017-04-11 14:28] mpugach commented on #217
it not about sprite sheet only, it is about definitions and mapping also

`emoji-picker` converts everything into a text editor, so is not suitable for discussion's "add reaction" feature. Also, it lacks text replacement/completion while typing.

this looks more customizable https://github.com/frissdiegurke/emoji-parser, but there is no picker

still looking...

BTW, about "add reaction" should th

[2017-04-11 14:40] mpugach commented on #217
on another hand, we can try to fork and modify `emoji-picker` to include custom images and call the picker without an editor field

this will not fix selection by typing though

[2017-04-11 14:44] lmerriam commented on #217
Old but maybe useful? https://github.com/diy/jquery-emojiarea

[2017-04-11 14:48] lmerriam commented on #217
It's OK if they can't enter emoji by typing, I think most people will use whatever picker we make anyway.

[2017-04-18 08:04] mpugach opened #252 "Tapping on a comment in profile should scroll to the comment after bringing the user to the post"
Extracted from #172

[2017-04-18 08:06] mpugach opened #253 "Add topics automatically to new post based on the content of the title and message"
Extracted from #173

[2017-04-18 08:07] #171 closed, assigned to mpugach

[2017-04-18 08:07] #172 closed, assigned to mpugach

[2017-04-18 08:07] #173 closed, assigned to mpugach

[2017-04-18 08:07] #174 closed, assigned to mpugach

[2017-04-18 08:07] #175 closed, assigned to mpugach

[2017-04-18 08:08] #242 closed, assigned to mpugach

[2017-04-20 15:49] mpugach commented on #217
@lmerriam see this on staging

I'm not sure we should force users to navigate to the post in order to leave the reaction...

[2017-04-21 04:40] lmerriam opened #255 "Posts visible to unauthenticated users"
The discussion is a great way for people to find Flaredown -- when patients search for answers online often the best results are forum threads started by other patients who experienced the same thing. Unauthenticated users should see a call to action to sign up for an account.

Unauthenticated users should see
- [x] Banner directing them to sign up for an account in order to join the discussion
-

[2017-04-21 04:51] lmerriam commented on #217
I think you're right, when I'm on the discussion page I keep trying to click the reactions.

This looks great Max! Me and susie had a lot of fun with it on staging.

[2017-05-04 04:57] lmerriam opened #258 "Unified navigation in Discussion"
To improve ease of navigation in the discussion, it would help to have a navbar that is consistent across pages.

<img width="732" alt="screenshot 2017-05-04 01 44 17" src="https://cloud.githubusercontent.com/assets/1657444/25691721/92f83e02-306b-11e7-9d11-00ede1f8c5bb.png">

<img width="755" alt="screenshot 2017-05-04 00 59 25" src="https://cloud.githubusercontent.com/assets/1657444/25691018/f910

[2017-05-04 05:16] lmerriam commented on #241
Per our discussion earlier, let's move notifications to their own section:

<img width="327" alt="screenshot 2017-05-04 01 16 24" src="https://cloud.githubusercontent.com/assets/1657444/25691288/4f048204-3067-11e7-841e-8db687591525.png">

[2017-05-04 05:18] lmerriam opened #259 "Updated discussion page"
<img width="326" alt="screenshot 2017-05-04 01 19 07" src="https://cloud.githubusercontent.com/assets/1657444/25691319/b335e902-3067-11e7-9acb-0be53fb66565.png">

- [x] Show first 2-3 lines of text in the posts
- [x] Allow user to switch between showing all posts, or just posts from the topics they're following
- [x] Updated navbar

[2017-05-04 05:22] lmerriam opened #260 "Updated user profile"
<img width="325" alt="screenshot 2017-05-04 01 19 55" src="https://cloud.githubusercontent.com/assets/1657444/25691332/ce2fa7a2-3067-11e7-8250-535a04874b8a.png">

- [x] Show full text of posts in profile view
- [x] Create faux profile picture by placing the first character of the username in a colored circle

[2017-05-04 05:24] lmerriam opened #261 "Updated topic page"
<img width="397" alt="screenshot 2017-05-04 01 33 36" src="https://cloud.githubusercontent.com/assets/1657444/25691507/b981fd12-3069-11e7-8ab0-38d1f77f592f.png">

- [x] Show first 2-3 lines of text in the post
- [x] Show count of users tracking
- [x] Display type of trackable (symptom, condition, etc)
- [x] Updated navbar

[2017-05-05 15:40] lmerriam commented on #216
@mpugach we can remove all but Heap

[2017-05-08 14:58] lmerriam commented on #241
@mpugach I see the deploy! However when I try to test it out I'm not seeing notification emails yet.

Was looking at the email template and it reminded me that one thing we'll need is an option to turn the emails on/off in the user settings, and then we give them an unsubscribe link that just sends them to their settings.

[2017-05-08 15:02] mpugach commented on #241
the heroku scheduler has only three options: 10m, 1h, 24h. Currently, it is set to 1h.

You are right, we should implement the unsubscribe and settings option

[2017-05-08 15:09] lmerriam commented on #241
Gotcha! 1hr is good

[2017-05-08 15:24] lmerriam opened #262 "Back button functionality"
There are two common use cases in which the back button does not work:
1. If the user follows a link from outside of Flaredown
2. If the app reloads a page with the back button--this happens commonly when the mobile app is running in the background for a while and gets removed from memory, and then the user opens it again -- it will open the page the user left it on and if there is a back button i

[2017-05-09 09:24] mpugach commented on #216
done

[2017-05-10 15:41] mpugach commented on #262
I do not see a way to distinguish between those two. Let's follow scenario 1

[2017-05-10 16:10] lmerriam commented on #262
👍

[2017-05-11 12:19] #262 closed, assigned to mpugach

[2017-05-11 12:21] mpugach commented on #258
@lmerriam it seems like the title of current page is the destination of the arrow

maybe if place it in a center...

[2017-05-11 12:30] lmerriam commented on #258
<img width="512" alt="screenshot 2017-05-11 08 30 15" src="https://cloud.githubusercontent.com/assets/1657444/25949029/15b68fde-3624-11e7-908b-1423a5b323a5.png">

[2017-05-12 08:39] mpugach commented on #258
@lmerriam the envelope alerts about unread notifications now, should we remove the logic and counter from the bottom discussions link?

[2017-05-12 08:45] mpugach commented on #258
can you provide SVGs please? we could utilize http://www.flaticon.com/ but their free license requires mentioning and link to their site somewhere in the app

http://support.flaticon.com/hc/en-us/articles/207248209-How-I-must-insert-the-attribution-

[2017-05-12 11:23] mpugach commented on #258
missed your dropbox link )

[2017-05-12 14:18] lmerriam commented on #258
Let's keep the behavior of the bottom discussions link -- it's the more important one because it notifies users when they are in other parts of the app. I don't think it's too bad to have both notifying the user, even if it is a little bit redundant.

[2017-05-18 23:20] refractslight opened #269 "Hide back arrow when there is no history"
Back arrow doesn't seem to do anything.

<img width="35" alt="back" src="https://cloud.githubusercontent.com/assets/20187086/26227128/086bd6a4-3bf6-11e7-99ff-b15cc5db798a.png">

Tested on:
Chrome 57.0.2987.133
Mac OS Sierra

and

Chrome 58.0.3029.83
Nexus 5 Android 6.0.1

Navigated to several different pages. 'Back' takes me to the previous page, but once there, the arrow does nothing.

[2017-05-21 07:21] mpugach opened #272 "create Notifications and Reactions Mongo namespaces on seeding the data in development"

[2017-05-23 10:57] mpugach commented on #255
how should the banner look like?

[2017-05-23 12:47] lmerriam commented on #269
I think the issue is that the back button the discussion page has no history to navigate to at this point, so it navigates to /posts. What do you think about changing that logic so the back button doesn't display in that case?

[2017-05-24 04:55] lmerriam commented on #258
@mpugach I should have been more explicit with the mockups! The "x" was intended to close the search box, not to clear it. As well, I just realized that we don't need the "go" button because we are selecting topics from a dropdown. I was working too fast and missed a lot here

I believe it can be reformatted like this:
<img width="655" alt="screenshot 2017-05-24 00 51 31" src="https://cloud.github

[2017-05-24 04:56] lmerriam commented on #261
Looks good!

[2017-05-24 04:56] #261 closed, assigned to mpugach

[2017-05-24 04:56] lmerriam commented on #260
Working for me!

[2017-05-24 04:56] #260 closed, assigned to mpugach

[2017-05-24 04:57] lmerriam commented on #259
Looks good!

[2017-05-24 04:57] #259 closed, assigned to mpugach

[2017-05-24 05:34] lmerriam commented on #258
One more update -- let's show the type of trackable and user count in the dropdown:
<img width="572" alt="screenshot 2017-05-24 01 33 08" src="https://cloud.githubusercontent.com/assets/1657444/26388222/0fa7c0e8-4021-11e7-81ab-9921cc41e3c2.png">

[2017-05-24 05:37] lmerriam opened #274 "Navigation on notification and post pages"
Within the discussion, the top navbar should be universal.

[2017-05-26 15:51] lmerriam commented on #269
Currently when there is no history the back button routes to `/posts`. We should change that so that it does not show at all if there is nothing to return to.

[2017-05-26 16:02] lmerriam commented on #241
@mpugach is this easier if we don't have the separator and just highlight all unread notifications?

[2017-05-29 08:48] mpugach commented on #241
@X-tina check please ^^^

[2017-05-31 07:38] X-tina commented on #255
According to the issue, I have added:
- the first implementation of redirection unauthenticated users to sign up page (will you provide a banner?)
- conditional comment and reaction inputs
- added an ability to share title and post description to Facebook and Twitter

For the last point (oEmbed metadata), the task is time-consuming because it needed to be server rendered, but "fastboot" package co

[2017-06-01 04:46] lmerriam commented on #253
Very low priority, I'm closing this for now

[2017-06-01 04:46] #253 closed, assigned to lmerriam

[2017-06-01 05:06] lmerriam commented on #255
@X-tina sounds good! Thank you for asking about oEmbed, it is definitely secondary, we should not do that for now.

Just to be clear: we don't want to automatically redirect users, we just want to give them a banner they can click on to be directed to the signup.

Here is a basic banner:
<img width="313" alt="screenshot 2017-06-01 01 02 17" src="https://cloud.githubusercontent.com/assets/1657444/2

[2017-06-01 05:09] lmerriam commented on #252
This also applies to notifications on comments

[2017-06-01 05:21] lmerriam commented on #243
For the first pass we can let the user tag manually. We can add autocomplete after release if it is complicated.

[2017-06-14 16:04] lmerriam opened #287 "Notification behavior"
There are a few updates to notification behavior that would make them work better, please ask any questions you have!

- [x] I had new notifications but after I viewed them the notification marker didn't go away until I manually refreshed the page
- [x] Notifications shouldn't disappear from the notification page when the user views them, they should just lose their blue highlight (Facebook is a g

[2017-06-18 20:10] lmerriam opened #289 "Weekly "top posts" email"
To bring users into our discussion regularly, we should email them some of the most popular posts in topics they follow once per week.

![weekly top posts email](https://user-images.githubusercontent.com/1657444/27263771-76d20f9a-543e-11e7-843e-b2e3bf9ed2eb.png)

- [x] Show top five posts (calculated by number of reactions+comments) in topics that the user is following over the past 7 days
- [x] I

[2017-06-18 21:08] lmerriam opened #290 "Show new posts in summary"
To help bring users into the discussion, increase attention for new posts, and give users a logical next step after they check-in, we should display recent posts in the summary page of the checkin.

![summary with discussion](https://user-images.githubusercontent.com/1657444/27264150-ca5bcb30-5446-11e7-9d00-9c9d6748567d.png)

- [x] Show 5 posts from the last 24 hrs with the greatest number of topi

[2017-06-18 21:17] #216 closed, assigned to lmerriam

[2017-06-18 21:18] lmerriam commented on #274
Looks good!

[2017-06-18 21:18] #274 closed, assigned to mpugach, X-tina

[2017-06-18 21:19] lmerriam commented on #258
Looks good!

[2017-06-18 21:19] #258 closed, assigned to mpugach

[2017-06-18 21:19] lmerriam commented on #269
Works for me!

[2017-06-18 21:19] #269 closed, assigned to mpugach, X-tina

[2017-06-18 21:20] lmerriam commented on #241
Working well!

[2017-06-18 21:20] #241 closed, assigned to mpugach

[2017-06-19 00:28] lmerriam opened #291 "Error reporting"
We do not have visibility into the errors our users are experiencing. We should implement an error-reporting system so that we can identify common problems and fix them. Ideally this covers both the frontend and the backend.

We have used Errbit in the past and have an instance of it running on heroku: https://dashboard.heroku.com/apps/flaredown-errors

However, if there is a better solution let m

[2017-06-21 03:46] lmerriam commented on #252
@X-tina is it easy to add this to the link that users follow from the notifications email as well? If less than 2-3 hrs effort we should do it.

[2017-06-28 15:04] lmerriam opened #295 "Sort posts by newest updated"
Right now we sort posts by the last created. This means that active posts can get buried.

A standard way to handle sorting in forums is to show posts in order of when they were last created OR commented on. This way active posts will stay higher in the queue where they can be seen.

[2017-06-28 15:39] lmerriam opened #296 "Larger textarea for commenting on posts"
The textarea is currently very small and hard to type medium-long messages, we should increase the size of it when it is focused.

[2017-06-29 04:30] lmerriam commented on #287
@x-tina the first one is a big problem right now, I can't get back to /posts on mobile because the notification won't dismiss and it always routes me to the notifications section

[2017-06-30 13:46] lmerriam opened #299 "Navigating to some topics logs the user out"
It appears to be topics that are newly-created or have only one follower? Here are a couple of examples:

Click `amplified musculoskeletal pain syndrome` on this post: https://app.flaredown.com/posts/59558a8dc361c30004513e69

Click `Osteogenesis Imperfecta` on this post: https://app.flaredown.com/posts/59546ac2bf7f6000042b498e

[2017-06-30 15:16] lmerriam commented on #243
This is working great 👍

[2017-06-30 15:16] #243 closed, assigned to mpugach, X-tina

[2017-06-30 19:16] lmerriam commented on #295
Working!

[2017-06-30 19:16] #295 closed, assigned to X-tina

[2017-06-30 20:01] lmerriam commented on #287
Looks good!

[2017-06-30 20:01] #287 closed, assigned to X-tina

[2017-06-30 20:02] lmerriam opened #300 "Page titles"
Discussion -> Chat
Post page -> Post (or nothing?)

[2017-06-30 20:03] lmerriam commented on #252
Working well

[2017-06-30 20:03] #252 closed, assigned to mpugach

[2017-06-30 20:07] lmerriam opened #301 "List of topics"
Show a list of topics the user is following in the discussion section

Consider removing "all/following" in favor of a basic sorting algorithm or hardcoding them into the topics list

Logan to create mockups first

(Probably don't need this until there are a decent number of posts in most topics)

[2017-07-03 10:20] X-tina commented on #299
@lmerriam
Such behavior occurs because of 'global' flag of Topics.
If an author of Local Topic created a Post, it becomes visible on the Discussion page.  Another user becomes unauthorize after trying to access to this local Topic.

[2017-07-08 21:51] lmerriam opened #307 "NPS and app store reviews"
We should collect Net Promoter Score data in order to understand the quality of our user experience. We should also ask users to rate and share Flaredown so that we can spread the word about the app. We can do this as part of the checkin.

Because this is a question that will be automatically sent to users, we may be able to use a variation of the "Harvey Bradshaw" targeted survey we have already

[2017-07-08 22:06] lmerriam opened #308 "Deleting posts and comments"
When users make a mistake, they want to be able to remove their comment, but currently they can't.

<img width="722" alt="screenshot 2017-07-08 18 02 28" src="https://user-images.githubusercontent.com/1657444/27989489-b87d5638-6407-11e7-9b06-6b0160d6712f.png">

- [ ] Dropdown icon in the top right of posts and comments (similar to facebook)
- [ ] Visible only to the user who posted
- [ ] Confirmat

[2017-07-08 22:16] lmerriam opened #309 "Password reset updates"
Currently we get a lot of support requests due to the password reset. This is a hard process for users and we should make it easier.

- [x] When the user taps the "reset password" button and the email isn't in our system, show the message "Sorry, we can't find an account for that email address. Please make sure that you have the correct address and that it is spelled correctly."
- [x] Change "Pass

[2017-07-08 22:39] lmerriam opened #310 "List users who reacted"
When users react to your post it's sometimes important to see who it was, so that users can form relationships. We should allow users to view the list of users who reacted to their post.

Logan to design mockups

[2017-07-08 22:42] lmerriam opened #311 "Parse URLS in posts and comments and turn them into links"
Users often want to link other users to content. When a URL is entered into a post or comment, it should be turned into a link so other users can follow it.

- [ ] Open the URLs in a new window (`target=_blank`) so that the in-app users do not get stuck on an external page

- [ ] ONLY IF EASY TO DO: if the URL is an `app.flaredown.com` url, simply navigate to it and do not open it in a new window

[2017-07-09 02:07] lmerriam opened #312 "Health Factors: Randomize "popular" tags section"
Popular tags are causing two problems right now: they are taking up a lot of space and skewing the tag counts.

To solve this, let's randomize the "popular" tags section, and then hide it completely once the user has "recent" tags to use.

I believe that logic for randomizing already exists when the user opens any "add trackable" select component. It takes a random selection from the top 100 insta

[2017-07-09 02:28] lmerriam commented on #70
Closing for now

[2017-07-09 02:28] #70 closed, assigned to squiggie

[2017-07-09 02:29] lmerriam commented on #190
Closing, this is part of another issue now

[2017-07-09 02:29] #190 closed, assigned to nobody

[2017-07-09 02:30] #180 closed, assigned to nobody

[2017-07-09 02:31] #137 closed, assigned to nobody

[2017-07-09 02:33] lmerriam commented on #142
Closing in favor of #312

[2017-07-09 02:33] #142 closed, assigned to nobody

[2017-07-09 02:35] #116 closed, assigned to nobody

[2017-07-09 02:35] #102 closed, assigned to nobody

[2017-07-09 02:39] #106 closed, assigned to nobody

[2017-07-09 02:39] #107 closed, assigned to nobody

[2017-07-09 03:11] lmerriam opened #313 "Local trackables visible in discussion and checkin?"
@X-tina for reference: user-created trackables on Flaredown are supposed to start `local` and become `global` once 3 users have independently added them. This ensures that users can add anything they want to track without suggesting it to everyone. However if multiple people add a trackable, we can make it global and include it in suggestions.

We should check that the functionality described abov

[2017-07-10 18:14] lmerriam opened #314 "Pages appear to load twice"
Here is a video with network throttling turned on to make it more obvious: https://www.dropbox.com/s/8hl8un4yk4hb4a3/fd_page_load_twice.mov

It appears to occur on all pages.

This started when we added Fastboot. Is it possible that we are displaying the server-rendered page first and then when the javascript loads it's triggering a second full reload of the data?

[2017-07-14 15:30] X-tina commented on #313
@lmerriam, issue was deployed to staging.

[2017-07-17 12:27] lmerriam commented on #299
Fixed 👍

[2017-07-17 12:27] #299 closed, assigned to X-tina

[2017-07-17 12:27] lmerriam commented on #255
Good to go

[2017-07-17 12:27] #255 closed, assigned to mpugach

[2017-07-17 12:28] lmerriam commented on #291
Errbit up and running

[2017-07-17 12:28] #291 closed, assigned to X-tina

[2017-07-17 12:29] lmerriam commented on #226
Closed for #307

[2017-07-17 12:29] #226 closed, assigned to lmerriam

[2017-07-17 12:31] lmerriam commented on #213
Going in another direction

[2017-07-17 12:31] #213 closed, assigned to nobody

[2017-07-19 20:32] lmerriam opened #318 "Performance monitoring"
To improve performance, we need to understand where the bottlenecks are. Here are a couple of performance monitoring options that I see:

On the rails side, skylight.io provides a nice free tier that will accommodate our app. I created account and put in a pull request, the instructions to deploy are here: https://www.skylight.io/support/advanced-setup#deployment

On the client side, is there a go

[2017-07-19 20:37] lmerriam opened #319 "High memory usage on the API"
It appears that there is a memory leak in the ember app after the last deploy (I believe it was local/global trackables). The heroku memory charts show that it uses well over 512mb ram and even over 1gb sometimes, whereas in the past we only used 300+mb at similar amounts of traffic.

[2017-07-19 21:45] lmerriam commented on #177
The above email was sent by mLab, to view more reports on slow queries you can open mLab from the resources section of the Heroku dashboard.

[2017-07-19 21:47] lmerriam opened #321 "Progressive web application capabilities"
Because we serve our web app primarily to mobile devices through browsers we can benefit greatly from progressive web app features. A good resource to follow for ember is: https://madhatted.com/2017/6/16/building-a-progressive-web-app-with-ember

The important points:
- [ ] Manifest file
- [ ] Register service worker (bonus: fall back to appcache on non-supported browsers)
- [ ] Offline sync - res

[2017-07-20 02:54] lmerriam commented on #319
<img width="1219" alt="screenshot 2017-07-19 22 18 12" src="https://user-images.githubusercontent.com/1657444/28398450-443b25f8-6cd5-11e7-8d38-24518b98ef59.png">

[2017-07-20 06:02] mpugach commented on #321
the biggest challenge here is offline sync other steps are simple.

For example, we have ~15000 Food items, just to fetch them all page after page will dramatically affect the performance. What if one of them is changed?

Another case, the user changes same data from two offline devices, how to resolve the conflict?

[2017-07-20 14:01] lmerriam commented on #319
@X-tina I just noticed that the high memory usage appears to be happening on the API too, in fact it's even worse.

There's also an extremely high number of requests being reported -- consistently over 1,000/sec. Does that seem right?

High response time and tons of H27 - "Client request interrupted" errors as well.

**API metrics right now:**
<img width="1215" alt="screenshot 2017-07-20 09 59 40"

[2017-07-20 14:38] lmerriam opened #322 "Error: "The adapter rejected the commit because it was invalid""
This error is cropping up a lot recently and it seems to be a breaking error.

https://flaredown-errors.herokuapp.com/apps/5967bb275b8b3b00090001fb/problems/596805985b8b3b0007000251

[2017-07-21 14:37] lmerriam commented on #321
Thanks for the explanation @mpugach ! Closing this issue for now

[2017-07-21 14:37] #321 closed, assigned to X-tina

[2017-07-22 01:48] lmerriam opened #324 "Onboarding trackables not saved"
When a user signs up for Flaredown, the onboarding process does not save the trackables they choose, so they are forced to find them all again. It takes users a long time to find all of their trackables, so this is a big problem that makes many users quit.

To recreate: sign up for a new Flaredown account, go through the onboarding and choose trackables, then start today's checkin -- you'll see th

[2017-07-22 01:51] lmerriam commented on #324
@mpugach just discovered this high priority bug after users reported it -- since Kristine is out this week is it possible for you or someone else to help with it?

[2017-07-22 12:59] mpugach commented on #324
will discuss with Alexander

[2017-07-23 12:56] lmerriam commented on #319
After disabling fastboot the API is still hitting huge memory numbers and erroring-out daily:
<img width="1220" alt="screenshot 2017-07-23 08 54 16" src="https://user-images.githubusercontent.com/1657444/28499463-c0f41b70-6f84-11e7-847d-aac6bad91b14.png">

[2017-07-23 17:53] lmerriam opened #325 "Line breaking in chat"

[2017-07-24 09:58] mpugach commented on #324
@lmerriam can you be more specific on recreate steps, please? It works in production and my dev environment also.
![flaredown-onboarding-480](https://user-images.githubusercontent.com/426179/28518165-a448fc52-706f-11e7-8cf0-cf4b6014ed3f.gif)

[2017-07-24 13:22] lmerriam commented on #324
@mpugach Those are the exact steps I used, I recreated the issue both on development (my local machine) and production before I posted this. Multiple users also reported this issue, which is why I checked it.

Like you say, it's working well for me now. Very odd that I saw it on BOTH environments before.

[2017-07-24 13:22] lmerriam commented on #324
Is it possible that there is a broader issue that is causing all of these strange bugs? Users are constantly reporting that new trackables aren't saved, that the app doesn't load, etc. Even on existing accounts that they've been using successfully for months--and sometimes the issues go away and come back repeatedly.

Maybe https://flaredown-errors.herokuapp.com/ has some clues?

[2017-07-24 14:04] mpugach commented on #324
Top 3 errors are about the weathers logic. There are 2 external APIs involved. Geocoding and Weather. Seems like one of them does not have expected payload sometimes...

It can even prevent the creation of checkin, that is why some trackable data may not be saved.

Will rewrite the code to be more protective and see if it helps.

[2017-07-24 14:06] lmerriam commented on #324
@mpugach Kristine mentioned this error, I think she suspected it too. It makes sense because it is external so could cause the issue on multiple environments!

[2017-07-24 14:07] lmerriam commented on #324
@mpugach can we also make sure that if external dependencies like this fail, it won't take down the whole checkin/app? (maybe this is what you meant by "protective" already :)

[2017-07-24 14:09] mpugach commented on #324
that is what I mean when write "protective code" :)

[2017-07-24 15:39] mpugach commented on #324
deployed

[2017-07-25 13:58] lmerriam commented on #324
@mpugach one of the users who reported the issue says it's working now, closing the ticket. Thanks for the help!

[2017-07-25 13:58] #324 closed, assigned to mpugach

[2017-07-26 06:24] mpugach commented on #324
great :)

It is not so critical, but there is no response to the user when geocoder fails to find a location by the postal code provided, I think @X-tina should implement it when she be back

[2017-07-30 13:26] lmerriam opened #327 "Weather: retrieve location name from API"
When users submit their location to the weather widget, it saves their input and continues to display it. If the weather api resolves their location incorrectly they don't know because the widget continues to show their input, and they wonder why the weather seems wrong.

We should replace the user's input with the name of the location that the API resolves to.

Ideal location format: city, state/

[2017-07-30 15:08] lmerriam opened #328 "Weather: notify user of location error"
When the weather widget can't find the location a user enters, it does not tell them. We should notify the user when they enter an invalid address.

<img width="487" alt="screenshot 2017-07-30 09 28 38" src="https://user-images.githubusercontent.com/1657444/28754655-6b8d7fd0-7517-11e7-9e02-addf09097ce7.png">

[2017-07-30 17:02] lmerriam opened #329 "Don't show 0 comment counts"
When a user submits a post, it's a little embarrassing for them to see "0 comments". Until a post has at least one comment, we shouldn't show the count.

[2017-07-30 21:46] lmerriam opened #331 "Optional trackables"
As we add more trackables and integrations we can't assume every user will track all of them, so we should let them choose during onboarding. There are mandatory trackables that we want every user to track (conditions, symptoms, treatments and tags for now) and there are optional ones (weather, food) that should only be tracked if users want to.

- [ ] Allow the user to choose optional trackables

[2017-07-30 23:39] lmerriam opened #332 "Notifications getting stuck"
Notifications are not dismissing for some users, even after they have viewed them and clicked them. My account (logan@flaredown.com) is affected and users are getting the issue as well.

Video of the problem:
https://www.dropbox.com/s/lyzjkq5etmnd90u/bug_notifications_stuck.mov?dl=0

[2017-07-30 23:41] lmerriam commented on #290
Working 👍

[2017-07-30 23:41] #290 closed, assigned to X-tina

[2017-07-31 02:36] lmerriam commented on #313
I have been testing this on production -- I created a brand new tag called "globaltest" in my checkin then switched to another account and I was immediately able to find it in the tag search and discussion.

To make sure I am explaining it correctly, here is a diagram of the intended functionality:
<img width="1073" alt="screenshot 2017-07-30 19 56 13" src="https://user-images.githubusercontent.co

[2017-07-31 03:13] lmerriam opened #333 "Reevaluate ember-fastboot"
We need to decide whether we should redeploy fastboot or remove it entirely.

Criteria to redeploy fastboot:
1. Fast: the app should load quicker than without fastboot, and we shouldn't see issues like #314
2. Robust: we should not see new bugs
3. Performant: the app's resource usage should not increase dramatically. For example, when we first deployed fastboot it was averaging 600-800mb memory us